.bording{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2vmax;
}
.bording .accordian_space{
  width: 95%;
 border: none;

}
 .bording h6{
  font-weight: 450;
           letter-spacing: 0.4px
 }

 .accordion-button:not(.collapsed) {
  color: none;
  background-color: none;
  box-shadow:none;
}
.accordion-button:focus {
  z-index: 3;
  outline: none;
  box-shadow:none;
}



.accordion-item:first-of-type>.accordion-header .accordion-button {
  border-top-left-radius: none;
  border-top-right-radius: none;
}

