.BusPage {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          padding-top: 2vmax;
          background: #dfdfdf32;
}

.BusPage  .gurantee{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;

}
.BusPage  .gurantee h5{
         font-size: 1.7vmax;
         font-weight: 700;
}
.BusPage  .gurantee h5{
       font-size: 1.7vmax;
       font-weight: 700;
       width: 85%;
}
.BusPage  .gurantee .g-pages{
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
          margin-top: 2vmax;
}
.BusPage  .gurantee .g-pages .g-one{
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          box-shadow: 2px 2px 5px 2px rgb(205, 205, 205);
          padding: 2vmax;
          background-color: #fff;
}
.BusPage  .gurantee .g-pages .g-one .g-left{
          width: 20%;
          display: flex;
          align-items:flex-start;
          justify-content: center;
}
.BusPage  .gurantee .g-pages .g-one .g-left i{
          font-size: 4vmax;
          color: rgba(0, 0, 0, 0.781);
}
.BusPage  .gurantee .g-pages .g-one .g-right{
          width: 80%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
}
.BusPage  .gurantee .g-pages .g-one .g-right p{
         font-size: 1vmax;
}

/* ----------------------------------------- */


.BusPage .Exclusive-offer{
          margin-top: 2vmax;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          background: #fff;
}
.BusPage .Exclusive-offer h5{
          font-size: 1.7vmax;
          font-weight: 700;
          margin-top: 2vmax;
          width: 85%;
}
 .BusPage .Exclusive-offer .offer-slider{
          width: 95%;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
          padding: 1vmax;
          margin-top: 2vmax;
          margin-bottom: 2vmax;
 }
 .BusPage .Exclusive-offer .offer-slider .slide{
          width: 80%;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          overflow: hidden;
          overflow-x: auto;
          gap: 2vmax;
 }
 .BusPage .Exclusive-offer .offer-slider .slide::-webkit-scrollbar{
        display: none;
 }
 .BusPage .Exclusive-offer .offer-slider .slide img{
          width: 30%;
          height: 300px;
 }

 /* --------------- */
 
 .BusPage .Download-app {
  position: relative;
  width: 100%;
  padding: 5vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}
.BusPage .Download-app::before {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.39); 
       z-index: 1;
     }
     .BusPage .Download-app .bus-text {
       position: relative; 
       width: 90%;
       display: flex;
       align-items: flex-start;
       justify-content: space-evenly;
       flex-direction: column;
       z-index: 2; 
       padding: 1.5vmax;
     }
.BusPage .Download-app .bus-text h5{
      font-size: 2.5vmax;
      font-weight: 700;
      color: #fff;
}
.BusPage .Download-app .bus-text p{
       font-size: 1.2vmax;
       color: #fff;
 }
 .BusPage .Download-app .bus-text a{
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      background: #303030c0;
      padding-left:1vmax ;
      padding-right:1vmax ;
      padding-top:0.4vmax ;
      padding-bottom:0.4vmax ;
      border-radius: 10px;
      color: #fff;
 }
 .BusPage .Download-app .bus-text span{
     font-size: 1.2vmax;
     font-weight: 500;
  }
  









@media (max-width:600px) {
    .BusPage  .gurantee h5{
             font-size: 3vmax;
    }
    .BusPage  .gurantee .g-pages{
              width: 90%;
              flex-direction: column;
              gap: 2vmax;
    }
    .BusPage  .gurantee .g-pages .g-one{
              width: 100%;
    }
    .BusPage  .gurantee .g-pages .g-one .g-left i{
              font-size: 7vmax;
    }
    .BusPage  .gurantee .g-pages .g-one .g-right p{
             font-size: 2vmax;
    }
    
    /* ----------------------------------------- */
    
    .BusPage .Exclusive-offer h5{
              font-size: 3vmax;
    }
     .BusPage .Exclusive-offer .offer-slider{
              width: 95%;
              height: 300px;
              flex-direction: row;
     }
   
     .BusPage .Exclusive-offer .offer-slider .slide{
              width: 80%;
              height: 300px;
              gap: 2vmax;
     }
     .BusPage .Exclusive-offer .offer-slider .slide img{
              width: 100%;
              height: 300px;
     }
           
}
@media (min-width:600px) and (max-width:1150px) {
       .BusPage  .gurantee h5{
              font-size: 3vmax;
     }
     .BusPage  .gurantee .g-pages{
               width: 90%;
               flex-direction: column;
               gap: 2vmax;
     }
     .BusPage  .gurantee .g-pages .g-one{
               width: 100%;
     }
     .BusPage  .gurantee .g-pages .g-one .g-left i{
               font-size: 7vmax;
     }
     .BusPage  .gurantee .g-pages .g-one .g-right p{
              font-size: 2vmax;
     }
     
     /* ----------------------------------------- */
     
     .BusPage .Exclusive-offer h5{
               font-size: 3vmax;
     }
      .BusPage .Exclusive-offer .offer-slider{
               width: 95%;
               height: 300px;
               flex-direction: row;
      }
      .BusPage .Exclusive-offer .offer-slider i{
             font-size: 3vmax;
      }
      .BusPage .Exclusive-offer .offer-slider .slide{
               width: 80%;
               height: 300px;
               gap: 2vmax;
      }
      .BusPage .Exclusive-offer .offer-slider .slide img{
               width: 100%;
               height: 300px;
      }
              
}

