


.BusLayout {
  width: 100%;
}
.busseatTabs{
  display: none;
}
.busseatTabsBTN{
  display: flex;
    justify-content: center;
    font-size: 17px;
    background: #9daaab3b;
}
.busseatTabsBTN button.active {
  background-color: skyblue !important;
  color: white;
  font-weight: bold;
  border: 2px solid #80808040;
  font-size: 14px !important;
  padding: 2px 35px !important;
  text-transform: uppercase !important;

}
.busseatTabsBTN button {
  font-size: 13px !important;
  background-color: #ccc !important;
  padding: 2px 35px !important;
  border: 2px solid #80808040 !important;
  text-transform: uppercase !important;

}

.BusLayout .Seat-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BusLayout .Seat-layout .seats {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px 2px rgb(211, 211, 211);
}

.BusLayout .Seat-layout .seats .left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BusLayout .Seat-layout .seats .left-top {
  width: 100%;
  padding: 0.5vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -1vmax;
  /* background: linear-gradient(90deg, #f2f2f2, hsla(0, 0%, 94.9%, 0)); */
}
.BusLayout .Seat-layout .seats .left-top h6{
 font-size: 1vmax;
 letter-spacing: 1px;
}
.BusLayout .Seat-layout .seats .left-top p{
  letter-spacing: 1px;
  color: green;
 }
 .BusLayout .sel{
  width: 98%;
  margin-bottom: 1vmax;
  font-size: 13px;
 }

.BusLayout .Seat-layout .seats .left-btm {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: row;
   /* background: #fafafa; */
}

.BusLayout .Seat-layout .seats .left-btm .lower {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1vmax;
  border-radius: 15px;
}

.BusLayout .Seat-layout .seats .left-btm .lower h6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit {
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  /* border: 1px solid #eee; */
  box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.582);
  flex-wrap: wrap;
  /* gap: 0.5vmax; */
  background: #fff;
  padding-top: 1vmax;

}

.BusLayout .Seat-layout .seats .left-btm .lower .sit p {
  font-size: 0.8vmax;
  color: green;
  font-weight: bold;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit span {
  font-size: 0.7vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper {
  width: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1vmax;

}

.BusLayout .Seat-layout .seats .left-btm .upper h6 {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit {
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  /* border: 1px solid #9999; */
  box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.582);
  flex-wrap: wrap;
  gap: 0.5vmax;
  padding-top: 1vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit p {
  font-size: 0.8vmax;
  color: green;
  font-weight: bold;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit span {
  font-size: 0.7vmax;
}
.lower, .upper {
  margin-bottom: 20px;
}


.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sit-img {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.9vmax;
  cursor: pointer;
}


.sit-img.aisle {
  margin-left: 6vmax;
}
.sit-img.last-row {
  flex: 1 1 16%;
}

/* ------------------------ */

.BusLayout .Seat-layout .seats .right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BusLayout .Seat-layout .seats .right .right-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 95%;
}

.BusLayout .Seat-layout .seats .right .right-btm .tax {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 600;
  flex-direction: row;
}

.BusLayout .Seat-layout .seats .right .right-btm .proceed {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1vmax;
}

.BusLayout .Seat-layout .seats .right .right-btm .proceed button {
  border: none;
  width: 20%;
  padding: 0.7vmax 1vmax;
  color: #ffff;
  font-weight: 600;
  background-color: #00b7eb;
  border-radius: 10px;
}

.BusLayout .bord-drop{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


@media (max-width:600px) {
  .busseatTabs{
    display: block;
    margin-bottom: -15px;
  }
  .lowerSeatWEB,
  .upperSeatWEB{
    display: none !important;
  }
  .BusLayout {
    width: 100%;
  }
  .BusLayout .Seat-layout {
    width: 100%;
  }
  .BusLayout .Seat-layout .seats {
    width: 100%;
  }
  
  .BusLayout .Seat-layout .seats .left {
    width: 100%;
  }
  
  .BusLayout .Seat-layout .seats .left-top {
    width: 100%;
  }
  .BusLayout .Seat-layout .seats .left-top h6{
   font-size: 2vmax;
   text-transform: capitalize;
  }

  
.BusLayout .Seat-layout .seats .left-btm {
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  flex-direction: column;
}

.BusLayout .Seat-layout .seats .left-btm .lower {
  width: 100%;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit {
  width: 95%;
  flex-wrap: wrap;
  gap: 0.3vmax;
  flex-direction: row;
  display: flex;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit p {
  font-size: 1.5vmax;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit span {
  font-size: 1.2vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper {
  width: 100%;
}
.BusLayout .Seat-layout .seats .left-btm .upper .sit {
  width: 95%;
  flex-wrap: wrap;
  gap: 0.3vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit p {
  font-size: 1.3vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit span {
  font-size: 1.2vmax;
}
.lower, .upper {
  margin-bottom: 20px;
}


.seat {
  width: 30px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sit-img {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4vmax;
  cursor: pointer;
}

.sit-img.aisle {
  margin-left: 9vmax;
}

.sit-img.last-row {
  flex: 1 1 16%;
}

/* ------------------------ */

.BusLayout .Seat-layout .seats .right .right-btm .proceed button {
  width: 100%;
  padding: 2vmax 1vmax;
}
  
}



@media (min-width:600px) and (max-width:1150px) {
  .BusLayout .Seat-layout .seats .left-btm .upper{
    display: flex;
  }
  .BusLayout {
    width: 100%;
  }
  .BusLayout .Seat-layout {
    width: 100%;
  }
  .BusLayout .Seat-layout .seats {
    width: 100%;
  }
  
  .BusLayout .Seat-layout .seats .left {
    width: 100%;
  }
  
  .BusLayout .Seat-layout .seats .left-top {
    width: 100%;
  }
  .BusLayout .Seat-layout .seats .left-top h6{
   font-size: 2vmax;
   text-transform: capitalize;
  }

  
.BusLayout .Seat-layout .seats .left-btm {
  width: 100%;

  flex-direction: column;
}

.BusLayout .Seat-layout .seats .left-btm .lower {
  width: 100%;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit {
  width: 95%;
  flex-wrap: wrap;
  gap: 0.3vmax;
  flex-direction: row;
  display: flex;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit p {
  font-size: 1.5vmax;
}

.BusLayout .Seat-layout .seats .left-btm .lower .sit span {
  font-size: 1.2vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper {
  width: 100%;
}
.BusLayout .Seat-layout .seats .left-btm .upper .sit {
  width: 95%;
  flex-wrap: wrap;
  gap: 0.3vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit p {
  font-size: 1.5vmax;
}

.BusLayout .Seat-layout .seats .left-btm .upper .sit span {
  font-size: 1.2vmax;
}
.lower, .upper {
  margin-bottom: 20px;
}


.seat {
  width: 40px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sit-img {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.1vmax;
}

.sit-img.aisle {
  margin-left: 31vmax;
}

.sit-img.last-row {
  flex: 1 1 10%;
}

/* ------------------------ */

.BusLayout .Seat-layout .seats .right .right-btm .proceed button {
  width: 100%;
  padding: 2vmax 1vmax;
}
  
}



.busseatpricee span{
  color: #00e100;
  font-weight: bold;
}

.seat-type-dropdown {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.seat-type-dropdown label {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  color: #00b7eb
}

.seat-type-dropdown select {
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.seat-type-select:focus {
  outline: none;
  border-color: #007bff;
}

.seat-type-select option {
  font-size: 16px;
  padding: 10px;
}
