.Buslayout-Main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Buslayout-Main .Bus-layout-new {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Buslayout-Main .Bus-layout-new .layout-bus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Buslayout-Main .Bus-layout-new .layout-bus .top-main-seat{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.1vmax;
  color: green;
  font-size: 0.8vmax;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------ */
.Buslayout-Main .Bus-layout-new .layout-bus .bord-drop-point{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5vmax;

}
.Buslayout-Main .Bus-layout-new .layout-bus .bord-drop-point   .bor-dro{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Buslayout-Main .Bus-layout-new .layout-bus .bord-drop-point   .bor-dro  .b-ipts{
  width: 100%;
  margin: 0.3vmax;
}

.Buslayout-Main .Bus-layout-new .layout-bus .bord-drop-point   .bor-dro  .b-ipts .boarding-select,
.Buslayout-Main .Bus-layout-new .layout-bus .bord-drop-point   .bor-dro  .b-ipts .dropping-select{
 width: 100%;
 padding: 0.5vmax;
 outline: none;
 border: 1px solid #56565641;

}
 
.Buslayout-Main .Bus-layout-new .layout-bus  .seat-Price{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.8vmax;
  background: #4848481b;
  padding: 0.6vmax;
  
}
.Buslayout-Main .Bus-layout-new .layout-bus .seat-Price   .price-seats{
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.Buslayout-Main .Bus-layout-new .layout-bus .seat-Price   .price-seats h6{
   color: green;
   font-size: 0.8vmax;
}
.Buslayout-Main .Bus-layout-new .layout-bus .seat-Price   .price-seats h5{
  font-size: 1.3vmax;
  color: #000;
  font-weight: 700;
}
.Buslayout-Main .Bus-layout-new .layout-bus .seat-Price .proceed-btm{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Buslayout-Main .Bus-layout-new .layout-bus .seat-Price .proceed-btm button{
  width: 50%;
  padding: 0.7vmax 0.6vmax;
  border: none;
  background-color:#00b7eb ;
  font-weight: 600;
  color: #fff;
  border-radius: 15px;
}


.alert-msg{
  width: 95%;
  font-size: 1vmax;
  color: green;
}


/* ------------------------------------------------------------------------------------ */


.Seats-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Seats-layout .lower-seats,
.Seats-layout .upper-seats {
  width: 95%;
  border: 1px solid #56565641;
  margin-top: 1vmax;
  padding: 0.4vmax;
}

.seat-available {
  opacity: 1;
  pointer-events: auto;
}

.seat-disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Shared seat styles */
.seat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  border: none;
  cursor: pointer;
}
.seat-price-main {
  font-size: 10px;
  color: #333;
  margin-top: 2px;
  font-weight: 400;
}

/* Sitting seats: smaller size */
.sitting-seat {
  width: 25px; /* Reduced size for sitting seats */
}





.seat-name {
  font-size: 10px;
  margin-top: 3px;
}


.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.selected-seat {
  background-color: #ccc;
}

.overlay-content .tppp h5{
  color: green;
}
.overlay-content .tppp h5 span{
  color: black;
}

.Seats-layout h6 {
   font-size: 12px;
   color: gray;
}
@media screen and (max-width: 768px) {
  .overlay-content .tppp h5{
    font-size: 13px !important;
  }
  .alert-msg {
    width: 95%;
    font-size: 12px;
    color: green;
}
.Buslayout-Main .Bus-layout-new .layout-bus .top-main-seat{
  font-size: 12px !important;
}
}


/* ------------------loader----------------------- */
