




.BusLists{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
}

/* -------------------------------------------------------------- */


.pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 4px;
      }
      
      .pagination button {
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        padding: 8px 12px;
        margin: 0 2px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
      }
      
      .pagination button.active {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
      }
      
      .pagination button:disabled {
        background-color: #e9ecef;
        cursor: not-allowed;
      }
      
      .pagination span {
        margin: 0 4px;
        font-size: 14px;
        color: #6c757d;
      }
      
/* -------------------------------------------------------------- */







/* .no-scroll {
        overflow: hidden;
      } */
      

/* Add these styles to BusList.css */
.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(161, 160, 160, 0.043);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 9999; /* Reduced z-index to avoid conflicts */
      }
      
      .overlay-content {
        background-color: #fff;
        box-shadow: 1px 2px 3px 4px gray;
        border-radius: 15px;
        /* max-width: 45%; */
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      
      .overlay-content .tppp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 1vmax;
        padding-right: 1vmax;
        background: #fafafa;
        border-bottom: 1px solid #eee;
        color: #000000bc;
      }
      
      .overlay-content .tppp h5 {
        font-size: 1.2vmax;
        margin-top: 0.2vmax;
      }
      
      .overlay-content .tppp i {
        font-size: 1.5vmax;
        font-weight: 700;
        cursor: pointer;
      }
      


.BusLists .busList{
          width: 100%;
          margin-bottom: 1vmax;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background: #f4efefd6;
          letter-spacing: 0.2px;

}
.BusLists .timer-bus{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 1vmax; */
        color:rgba(255, 0, 0, 0.71);
        font-weight: 700;
        font-size: 1vmax;
}
.BusLists .busList .B-lists-Top{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          /* background: #003b4b; */
          background:#00b7eb          ;
}

.BusLists .busList .B-lists-Top .text{
          width: 85%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
}
.BusLists .busList .B-lists-Top .text .back{
        color: #fff;
}
.BusLists .busList .B-lists-Top .text .back i{
       font-size: 1.5vmax;
       cursor: pointer;
}
.BusLists .busList .B-lists-Top .text h5{
          font-weight: 600;
          display: flex;gap: 0.1vmax;
          align-items: center;
          font-size: 1.2vmax;  
          flex-direction: row;
          justify-content: center;

}
.BusLists .busList .B-lists-Top .text .destination {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         flex-direction: row;
         
}
.BusLists .busList .B-lists-Top .text .date_dep{
        display: flex;
        flex-direction: row;
        width: 50%;

        justify-content: space-evenly;
        align-items: center;
}
.BusLists .busList .B-lists-Top .text .destination .date_class{
        color: white;
        margin-top: 0.2vmax;
}
.BusLists .busList .B-lists-Top .text .destination h6{
         display: flex;
         flex-direction: column;
         align-items:center;
         justify-content:center;
         color: #fff;
         padding: 0.4vmax;
margin-top: 1vmax;
}
.BusLists .busList .B-lists-Top .text .destination i{
          color: #fff;
          font-size: 1.1vmax;
          font-weight: lighter;
}
.BusLists .busList .B-lists-Top .text span{
          font-weight: 600;
          display: flex;gap: 0.7vmax;
          align-items: center; 
          font-size: 1vmax;  
          color: #fff;
          justify-content: center;

}
.BusLists .busList .B-lists-Top .text span i{
          color: #000;
          font-size: 1.2vmax;
          font-weight: lighter;
}
.BusLists .search-functinality button{
         border: none;
         padding: 0.6vmax 1vmax;
         border-radius: 10px;
         color: #fff;
         border: 1px solid #fff;
         font-weight: 600;
         background: none;
}
/* ------------------------------------------------------------ */
.BusLists .busList .B-lists-Btm{
          width: 90%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: row;
}

 .bus-sidebar{
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1vmax;
 }
 
 .bus-sidebar .busSide{
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          flex-direction: column;
          border-radius: 15px;
         box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.386);

 }
 .bus-sidebar .busSide h5{
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: row;
          font-weight: 700;
          padding: 1vmax;
          color: #00040898;
          border-bottom: 1px solid #00000022;
 }
 .bus-sidebar .busSide .seat-type{
          width: 100%;
           padding: 1vmax;
           border-bottom: 1px solid #00000022;

 }
 .bus-sidebar .busSide .seat-type h6{
         font-weight: 700;
 }
 .bus-sidebar .busSide .seat-type .filter-seat{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: #000000b9;
          margin-top: 1vmax;
 }
 .bus-sidebar .busSide .seat-type .filter-seat .sleeper{
        width: 45%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        border: 0.4px solid #00000022;
}
.bus-sidebar .busSide .seat-type .filter-seat .sleeper:hover{  
      color: rgba(0, 0, 255, 0.628);
      border-color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar .busSide .seat-type .filter-seat .sleeper p{  
        margin-top: 0.8vmax;
}

.bus-sidebar .busSide .seat-type .filter-seat .seater{
        width: 45%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        border: 0.4px solid #00000022;
}
.bus-sidebar .busSide .seat-type .filter-seat .seater:hover{  
        color: rgba(0, 0, 255, 0.628);
        border-color: rgba(0, 0, 255, 0.628);
  }
.bus-sidebar .busSide .seat-type .filter-seat .seater p{   
        margin-top: 0.8vmax;
}
 .bus-sidebar .busSide .Travel-operator{
          width: 100%;
           padding: 1vmax;
           border-bottom: 1px solid #00000022;
 }
 .bus-sidebar .busSide .Travel-operator h6{
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
 }
 .bus-sidebar .busSide .Travel-operator h6:hover{
        width: 100%;
        cursor: pointer;
        color: rgba(0, 0, 255, 0.628);
 }
 .bus-sidebar .busSide .Travel-operator h6 .down-aro{
        font-size: 1.5vmax;
 }/* Main container styling */
.bus-sidebar .busSide .Travel-operator .travel-fixed {
        height: 400px; 
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px 2px rgb(165, 165, 165);
        border-radius: 10px;
    }
    
    /* Scrollable content styling */
    .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav {
        height: 100%; 
        overflow-y: auto;
        position: absolute; 
        top: 0;
        bottom: 0; 
        width: 100%;
        padding-right: 10px; /* Add some padding for better spacing from scrollbar */
    }
    
    /* Scrollbar styling */
    .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
    }
    
    .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners */
    }
    
    .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px;
    }
    
    /* Travel list styling */
    .bus-sidebar .busSide .Travel-operator .travel-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #000000b9; 
        margin-top: 0.2vmax;
        padding: 0.5vmax;
    }
    
 .bus-sidebar .busSide .Travel-operator .travel-list small{
        cursor: pointer;
        border: 1px solid #00000022;
        border-radius: 5px;
        padding: 0.3vmax;
        font-size: 0.9vmax;
        margin-top: 0.3vmax;
 }
 .bus-sidebar .busSide .Travel-operator .travel-list small:hover{
        color: rgba(0, 0, 255, 0.628);
        border-color: rgba(0, 0, 255, 0.628);
 }
 .bus-sidebar .busSide .pick-up{
        width: 100%;
         padding: 1vmax;
         border-bottom: 1px solid #00000022;
}
.bus-sidebar .busSide .pick-up h6{
      font-size: 1.2vmax;
      width: 100%;
      margin-bottom: 1vmax;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      cursor: pointer;
}
.bus-sidebar .busSide .pick-up h6 i{
        font-size: 1.5vmax;
  }
.bus-sidebar .busSide .pick-up h6:hover{
        color: rgba(0, 0, 255, 0.628);
  }
  .bus-sidebar .busSide .pick-up .pick-fixed-main {
        height: 300px;
        overflow: hidden; /* Hide overflow content here */
        position: relative;
        box-shadow: 2px 2px 5px 2px gray;
    }
    
    .bus-sidebar .busSide .pick-up .pick-list {
        width: 100%;
        display: flex;
        flex-direction: column; /* Change to column for vertical scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
        height: 100%; /* Ensure it takes up the available height */
    }
.bus-sidebar .busSide .pick-up .pick-list .pickfixed{
        width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
}
.bus-sidebar .busSide .pick-up .pick-list p{
        width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       padding-bottom: 0.5vmax;
       border-radius: 5px;
       border: 0.4px solid #00000022;
       padding: 1vmax;
}

.bus-sidebar .busSide .drop-up{
        width: 100%;
         padding: 1vmax;
         border-bottom: 1px solid #00000022;
}
.bus-sidebar .busSide .drop-up h6{
        font-size: 1.2vmax;
        width: 100%;
        margin-bottom: 1vmax;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        cursor: pointer;
  }
  .bus-sidebar .busSide .drop-up h6:hover{
        color: rgba(0, 0, 255, 0.628);
  }
  .bus-sidebar .busSide .drop-up h6 i{
          font-size: 1.5vmax;
    }
.bus-sidebar .busSide .drop-up .drop-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
.bus-sidebar .busSide .drop-up .drop-list p{
        width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
       border-radius: 5px;
       border: 0.4px solid #00000022;
       padding: 1vmax;
       padding-bottom: 0.5vmax;
}


/* ---------------------------------- */

.BusLists .busList .B-lists-Btm .btm-lists{
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column; 
          margin-top: 1vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
         flex-direction: column;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
         flex-direction: column;
         margin-bottom: 1vmax;
         box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.386);
         padding: 1vmax;
         border-radius: 15px;
         background: #fff;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
         flex-direction: row;
         border-bottom: 1px solid #7a7a7a90;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name{
          /* width: 40%; */
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
         flex-direction: column;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name h5{
 font-weight: 600;
 margin-top: 0.5vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .price h4{
       font-weight: 700;
  
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .drop-time{
                   display: flex;
                   align-items:flex-start;
                   justify-content: space-between;
                   flex-direction: row;  
                   gap: 2vmax;
                   font-size: 1.5vmax;
        }
       
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .drop-time h6 span{
          font-size: 1.8vmax;
}

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm{
          width: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
         flex-direction: row;
         margin-top: 0.5vmax;
}
.BusLists .busList .rating{
        display: flex;
        flex-direction: row;
        gap: 1vmax;
}

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm button {
          border: none;
          background: none;
          color: #fff;
          font-weight: 600;
          padding: 0.5vmax 2vmax;
          background-color: #00b7eb;
          border-radius: 10px;
          transition:  0.3s ease; 
        }
        .BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm button:hover{
             background: none;
             border: 1px solid #00b7eb;
             color: #00b7eb;
              }
        
        .BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm button.hide-seats {
          background-color: #333; 
        }
        .filter-bus{
                display: none;
}


/* ----------------------------responsive siebar----------------------------------*/
.response-sidebar{
        display: none;
}
/* --------------------------------------------------------------------------------- */


@media (max-width:600px) {
        .BusLists .busList .B-lists-Top .text  .date_class{
        
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

        }
        .overlay-content {
                border-radius: 0px;
                max-width: 100%;
                height: 100%;
                width: 100%;
              }
              .overlay-content .tppp {
               width: 100%;
               display: flex;
              }
              .overlay-content .tppp i{
                font-size: 4vmax;
               }
               .BusLists .busList .B-lists-Top .text .back{
                display: none;
        }
              
        .BusLists{
                width: 100%;
      }
      .BusLists .busList{
                width: 100%;
      }
      .BusLists .timer-bus{
              width: 100%;
              font-size: 2vmax;
      }
      .BusLists .busList .B-lists-Top{
                width: 100%;
                justify-content: center;
                background: #00b7eb;
      }
      
      .BusLists .busList .B-lists-Top .text{
                width: 95%;
                justify-content: space-between;
                flex-direction: column;
      }
      .BusLists .busList .B-lists-Top .text h5{
                font-size:3vmax;   
                width: 100%; 
                align-items: center;
                justify-content: center;
                padding: 0vmax;
      }
      .BusLists .search-functinality{
        margin-bottom: 1vmax;
        align-items: flex-end;
        justify-content: space-between;
        display: flex;
        width: 100%;
      }
.BusLists .busList .B-lists-Top .text .destination{
        width: 50%;
        
}
.BusLists .busList .B-lists-Top .text .date_class{
        width: 50%;
        
}
      .BusLists .busList .B-lists-Top .text .destination h6{
               padding: 0.4vmax;
          margin-top: 2vmax;
          font-size: 2vmax;
          font-weight: lighter;
      }
     
      .BusLists .busList .B-lists-Top .text span{
               display: none;
      
      }
      .BusLists .search-functinality button{
               padding: 1.2vmax 5vmax;
               font-weight: 600;
      }
      .filter-bus{
        display: initial;
      }
      .BusLists .search-functinality button i{
        font-weight: lighter;
}
      /* ------------------------------------------------------------ */
      .BusLists .busList .B-lists-Btm{
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
      }
      
       .bus-sidebar{
               display: none;
       }  
      

.BusLists .busList .B-lists-Btm .btm-lists{
        width: 100%;
        margin-top: 0.3vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs{
        width: 100%;
       padding-top: 1vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one{
        width: 100%;
       flex-direction: column;
       box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.644);
       padding: 1.2vmax;
       margin-top: 2vmax;
       border-radius: 20px;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top{
       flex-direction: column;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name{
       width: 95%;
 }
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name h5{
font-size: 1.5vmax;
font-weight: 700;
}

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name span{
        font-size: 1.5vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .price h4{
     font-weight: 700;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .drop-time{
                 align-items:center;
                 justify-content: space-between;
                 gap: 3vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .drop-time h6 small{
      font-size: 1.3vmax;
}  
.BusLists .busList .B-lists-Btm .btm-lists .price{
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        display: flex;
        background: #504f4f18;
}
.BusLists .busList .B-lists-Btm .btm-lists .price h4{
       font-size: 2vmax;
}

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm{
        width: 95%;
        align-items: center;
}
.BusLists .busList .rating{
      display: flex;
      gap: 2vmax;
}
.BusLists .busList .rating a{
      font-size: 1.5vmax;
  }

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm button {
        padding: 0.7vmax 1.5vmax;
        background-color: #00b7eb;
        transition:  0.3s ease; 
 }


 
/* ----------------------------responsive siebar----------------------------------*/
.response-sidebar{
        display: initial;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        z-index: 11111;
        background: #fff;
        top: 0vmax;
}
.response-sidebar .bus-sidebar-responsive{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vmax;
        flex-direction: column;
        box-shadow: 2px 2px 5px 2px gray;
        padding: 1vmax;
}
.response-sidebar .bus-sidebar-responsive .c-filter{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
}
.response-sidebar .bus-sidebar-responsive .c-filter i{
      font-size: 3.5vmax;
}
.bus-sidebar-responsive .busSide{
        width: 100%;

}
.bus-sidebar-responsive .busSide h5{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        font-weight: 700;
        padding: 1vmax;
        color: #00040898;
        border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .seat-type{
        width: 100%;
         padding: 1vmax;
         border-bottom: 1px solid #00000022;

}
.bus-sidebar-responsive .busSide .seat-type h6{
       font-weight: 700;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #000000b9;
        margin-top: 1vmax;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .sleeper{
      width: 45%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      border: 0.4px solid #00000022;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .sleeper:hover{  
    color: rgba(0, 0, 255, 0.628);
    border-color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .sleeper p{  
      margin-top: 0.8vmax;
}

.bus-sidebar-responsive .busSide .seat-type .filter-seat .seater{
      width: 45%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      border: 0.4px solid #00000022;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .seater:hover{  
      color: rgba(0, 0, 255, 0.628);
      border-color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .seater p{   
      margin-top: 0.8vmax;
}
.bus-sidebar-responsive .busSide .Travel-operator{
        width: 100%;
         padding: 1vmax;
         border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .Travel-operator h6{
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3vmax;
}
.bus-sidebar-responsive .busSide .Travel-operator h6:hover{
      width: 100%;
      cursor: pointer;
      color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .Travel-operator h6 .down-aro{
      font-size: 4vmax;
}

.travel-fixed-responsive {
        height: 400px; 
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px 2px rgb(165, 165, 165);
        border-radius: 10px;
    }
    .fix-trav {
        height: 100%; 
        overflow-y: auto;
        position: absolute; 
        top: 0;
        bottom: 0; 
        width: 100%;
        padding-right: 10px; /* Add some padding for better spacing from scrollbar */
    }
    .fix-trav::-webkit-scrollbar {
        width: 8px; 
    }
    
    .fix-trav::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
     .fix-trav::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 10px;
    }
    
 .travel-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #000000b9; 
        margin-top: 1vmax;
}
 .travel-list small{
      cursor: pointer;
      border: 1px solid #00000022;
      border-radius: 5px;
      padding: 0.6vmax;
      font-size: 2vmax;
      margin-top: 0.4vmax;
}
 .travel-list small:hover{
      color: rgba(0, 0, 255, 0.628);
      border-color: rgba(0, 0, 255, 0.628);
}
/* ------------------------------ */

/* 
.bus-sidebar .busSide .Travel-operator .travel-fixed {
      height: 300px; 
      position: relative;
      overflow: hidden;
      box-shadow: 2px 2px 5px 2px rgb(165, 165, 165);
      border-radius: 10px;
  }
  
  .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav {
      height: 100%; 
      overflow-y: auto;
      position: absolute; 
      top: 0;
      bottom: 0; 
      width: 100%;
      padding-right: 10px; 
  }
  
  .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav::-webkit-scrollbar {
      width: 8px; 
  }
  
  .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
  }
  
  .bus-sidebar .busSide .Travel-operator .travel-fixed .fix-trav::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
  }
  
  .bus-sidebar .busSide .Travel-operator .travel-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #000000b9; 
      margin-top: 0.2vmax;
      padding: 0.5vmax;
  }
  
.bus-sidebar .busSide .Travel-operator .travel-list small{
      cursor: pointer;
      border: 1px solid #00000022;
      border-radius: 5px;
      padding: 0.3vmax;
      font-size: 0.9vmax;
      margin-top: 0.3vmax;
} */

/* --------------------------------- */

.bus-sidebar-responsive .busSide .pick-up{
      width: 100%;
       padding: 1vmax;
       border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .pick-up h6{
    font-size:3vmax;
    width: 100%;
    margin-bottom: 1vmax;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}
.bus-sidebar-responsive .busSide .pick-up h6 i{
      font-size: 4vmax;
}
.bus-sidebar-responsive .busSide .pick-up h6:hover{
      color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .pick-up .pick-list{
      width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
.bus-sidebar-responsive .busSide .pick-up .pick-list p{
      width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     padding-bottom: 0.5vmax;
     border-radius: 5px;
     border: 0.4px solid #00000022;
     padding: 1vmax;
}
.bus-sidebar-responsive .busSide .pick-up .pick-list p h3{
        font-size: 2vmax;
        font-weight: lighter;
   }

.bus-sidebar-responsive .busSide .drop-up{
      width: 100%;
       padding: 1vmax;
       border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .drop-up h6{
      font-size: 3vmax;
      width: 100%;
      margin-bottom: 1vmax;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      cursor: pointer;
}
.bus-sidebar-responsive .busSide .drop-up h6:hover{
      color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .drop-up h6 i{
        font-size: 4vmax;
  }
.bus-sidebar-responsive .busSide .drop-up .drop-list{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}
.bus-sidebar-responsive .busSide .drop-up .drop-list p{
      width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     border-radius: 5px;
     border: 0.4px solid #00000022;
     padding: 1vmax;
     padding-bottom: 0.5vmax;
}
.bus-sidebar-responsive .busSide .drop-up .drop-list p h3{
       font-size: 2vmax;
       font-weight: lighter;
  }
  .BusLists .busList .B-lists-Top .text .date_dep{
       
        width: 100%;
font-size: 1.5vmax;
justify-content: space-between;
}
/* --------------------------------------------------------------------------------- */




}

@media (min-width:600px) and (max-width:1150px) {
        .overlay-content {
                border-radius: 0px;
                max-width: 100%;
                height: 100%;
                width: 70%;

              }
              .overlay-content .tppp {
               width: 100%;
               display: flex;
              }
              .overlay-content .tppp i{
                font-size: 4vmax;
               }
               .BusLists .busList .B-lists-Top .text .back{
                display: none;
        }
              
        .BusLists{
                width: 100%;
      }
      .BusLists .busList{
                width: 100%;
      }
      .BusLists .timer-bus{
              width: 100%;
              font-size: 2vmax;
      }
      .BusLists .busList .B-lists-Top{
                width: 100%;
                justify-content: center;
                background: #004a5ec3;
      }
      
      .BusLists .busList .B-lists-Top .text{
                width: 95%;
                justify-content: space-between;
                flex-direction: column;
      }
      .BusLists .busList .B-lists-Top .text h5{
                font-size:3vmax;   
                width: 100%; 
                align-items: center;
                justify-content: center;
                padding: 0vmax;
      }
      .BusLists .search-functinality{
        margin-bottom: 1vmax;
        align-items: flex-end;
        justify-content: space-between;
        display: flex;
        width: 100%;
      }
     
      .BusLists .busList .B-lists-Top .text .destination h6{
               /* padding: 0.4vmax; */
          margin-top: 2vmax;
          font-size: 3vmax
      }
     
      .BusLists .busList .B-lists-Top .text span{
               display: none;
      
      }
      .BusLists .search-functinality button{
               padding: 1.2vmax 2vmax;
               font-weight: 600;
      }
      .filter-bus{
        display: initial;
      }
      .BusLists .search-functinality button i{
        font-weight: lighter;
}
      /* ------------------------------------------------------------ */
      .BusLists .busList .B-lists-Btm{
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
      }
      
       .bus-sidebar{
               display: none;
       }  
      

.BusLists .busList .B-lists-Btm .btm-lists{
        width: 100%;
        margin-top: 0.3vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs{
        width: 100%;
       padding-top: 1vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one{
        width: 100%;
       flex-direction: column;
       box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.644);
       padding: 1.2vmax;
       margin-top: 2vmax;
       border-radius: 20px;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top{
       flex-direction: column;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name{
       width: 95%;
 }
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name h5{
font-size: 1.5vmax;
font-weight: 700;
}

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .name span{
        font-size: 1.5vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .price h4{
     font-weight: 700;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .drop-time{
                 align-items:center;
                 justify-content: space-between;
                 gap: 3vmax;
}
.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-top .drop-time h6 small{
      font-size: 1.3vmax;
}  
.BusLists .busList .B-lists-Btm .btm-lists .price{
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        display: flex;
        background: #504f4f18;
}
.BusLists .busList .B-lists-Btm .btm-lists .price h4{
       font-size: 2vmax;
}

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm{
        width: 95%;
        align-items: center;
}
.BusLists .busList .rating{
      display: flex;
      gap: 2vmax;
}
.BusLists .busList .rating a{
      font-size: 1.5vmax;
  }

.BusLists .busList .B-lists-Btm .btm-lists .bus-divs .one .one-btm button {
        padding: 0.7vmax 1.5vmax;
        background-color: #00b7eb;
        transition:  0.3s ease; 
 }

 
 
/* ----------------------------responsive siebar----------------------------------*/
.response-sidebar{
        display: initial;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vmax;
}
.response-sidebar .bus-sidebar-responsive{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vmax;
        flex-direction: column;
}
.response-sidebar .bus-sidebar-responsive .c-filter{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
}
.response-sidebar .bus-sidebar-responsive .c-filter i{
      font-size: 3.5vmax;
}
.bus-sidebar-responsive .busSide{
        width: 100%;

}
.bus-sidebar-responsive .busSide h5{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        font-weight: 700;
        padding: 1vmax;
        color: #00040898;
        border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .seat-type{
        width: 100%;
         padding: 1vmax;
         border-bottom: 1px solid #00000022;

}
.bus-sidebar-responsive .busSide .seat-type h6{
       font-weight: 700;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #000000b9;
        margin-top: 1vmax;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .sleeper{
      width: 45%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      border: 0.4px solid #00000022;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .sleeper:hover{  
    color: rgba(0, 0, 255, 0.628);
    border-color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .sleeper p{  
      margin-top: 0.8vmax;
}

.bus-sidebar-responsive .busSide .seat-type .filter-seat .seater{
      width: 45%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      border: 0.4px solid #00000022;
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .seater:hover{  
      color: rgba(0, 0, 255, 0.628);
      border-color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .seat-type .filter-seat .seater p{   
      margin-top: 0.8vmax;
}
.bus-sidebar-responsive .busSide .Travel-operator{
        width: 100%;
         padding: 1vmax;
         border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .Travel-operator h6{
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3vmax;
}
.bus-sidebar-responsive .busSide .Travel-operator h6:hover{
      width: 100%;
      cursor: pointer;
      color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .Travel-operator h6 .down-aro{
      font-size: 4vmax;
}

.travel-fixed-responsive {
        height: 400px; 
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 5px 2px rgb(165, 165, 165);
        border-radius: 10px;
    }
    .fix-trav {
        height: 100%; 
        overflow-y: auto;
        position: absolute; 
        top: 0;
        bottom: 0; 
        width: 100%;
        padding-right: 10px; /* Add some padding for better spacing from scrollbar */
    }
    .fix-trav::-webkit-scrollbar {
        width: 8px; 
    }
    
    .fix-trav::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
     .fix-trav::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 10px;
    }
    
 .travel-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #000000b9; 
        margin-top: 1vmax;
}
 .travel-list small{
      cursor: pointer;
      border: 1px solid #00000022;
      border-radius: 5px;
      padding: 0.6vmax;
      font-size: 2vmax;
      margin-top: 0.4vmax;
}
 .travel-list small:hover{
      color: rgba(0, 0, 255, 0.628);
      border-color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .pick-up{
      width: 100%;
       padding: 1vmax;
       border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .pick-up h6{
    font-size:3vmax;
    width: 100%;
    margin-bottom: 1vmax;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}
.bus-sidebar-responsive .busSide .pick-up h6 i{
      font-size: 4vmax;
}
.bus-sidebar-responsive .busSide .pick-up h6:hover{
      color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .pick-up .pick-list{
      width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
.bus-sidebar-responsive .busSide .pick-up .pick-list p{
      width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     padding-bottom: 0.5vmax;
     border-radius: 5px;
     border: 0.4px solid #00000022;
     padding: 1vmax;
}
.bus-sidebar-responsive .busSide .pick-up .pick-list p h3{
        font-size: 2vmax;
        font-weight: lighter;
   }

.bus-sidebar-responsive .busSide .drop-up{
      width: 100%;
       padding: 1vmax;
       border-bottom: 1px solid #00000022;
}
.bus-sidebar-responsive .busSide .drop-up h6{
      font-size: 3vmax;
      width: 100%;
      margin-bottom: 1vmax;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      cursor: pointer;
}
.bus-sidebar-responsive .busSide .drop-up h6:hover{
      color: rgba(0, 0, 255, 0.628);
}
.bus-sidebar-responsive .busSide .drop-up h6 i{
        font-size: 4vmax;
  }
.bus-sidebar-responsive .busSide .drop-up .drop-list{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}
.bus-sidebar-responsive .busSide .drop-up .drop-list p{
      width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     border-radius: 5px;
     border: 0.4px solid #00000022;
     padding: 1vmax;
     padding-bottom: 0.5vmax;
}
.bus-sidebar-responsive .busSide .drop-up .drop-list p h3{
       font-size: 2vmax;
       font-weight: lighter;
  }

/* --------------------------------------------------------------------------------- */

  
  }
           

        

       