.ReviewBooking{
          width: 100%;
}
.ReviewBooking .review-book{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;

}
.ReviewBooking .review-book h5{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 1vmax;
          font-weight: 600;
          background: #0a223d;
        color: #ffff;
}
.ReviewBooking .review-book h5 i{
       margin-right: 1vmax;
       font-weight: lighter;
}
.ReviewBooking .review-book  .test-account{
          width: 95%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 1vmax;
          border-radius: 10px;
          margin-top: 0.5vmax;
          box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);

 }
 .ReviewBooking .review-book  .test-account h6{
       width: 100%;
    font-weight: 600;
    font-size: 1.3vmax;
}
.ReviewBooking .review-book  .test-account .sdfgh{
       width: 90%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 0.5vmax;
}
.ReviewBooking .review-book  .test-account .sdfgh .test-left{
       width: 50%;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: column;
}
.ReviewBooking .review-book  .test-account .sdfgh p{
      font-weight: 600;
}
.ReviewBooking .review-book  .test-account .sdfgh .d-t{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
 }
.ReviewBooking .review-book  .test-account .sdfgh .test-right{
       width: 50%;
       display: flex;
       align-items: flex-end;
       justify-content: space-between;
       flex-direction: column;
}

.ReviewBooking .review-book .price-page {
       width: 95%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       flex-direction: column;
      padding: 1vmax;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
  margin-top: 1vmax
}
.ReviewBooking .review-book .price-page  h6{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       font-size: 1.3vmax;
}
.ReviewBooking .review-book .price-page  .price{
       width: 40%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;
       background: #f5f1f1;
       border-radius: 10px;
       margin-top: 0.5vmax;
       padding: 0.5vmax;
}
.ReviewBooking .review-book .price-page  .price .p-line{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       padding-top: 0.3vmax;

}
.ReviewBooking .review-book .price-page  .price .p-line span{
       font-weight: 600;
       font-size: 1.1vmax;
}
.ReviewBooking .review-book .price-page  .price .p-line small{
       font-size: 1.2vmax;
}

.ReviewBooking .review-book .price-page  .price .total-fare{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       border-top: 1px solid #0000002a;
       padding-top: 0.2vmax;
       margin-top: 1vmax;
}
.ReviewBooking .review-book .price-page  .price .total-fare span{
       font-weight: 700;
       font-size: 1.1vmax;
}
.ReviewBooking .review-book .price-page  .price .total-fare small{
       font-size: 1.2vmax;
       font-weight: 600;
}
.ReviewBooking .review-book .price-page  .price .coupen{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       margin-bottom: 1vmax;

}
.ReviewBooking .review-book .price-page  .price .coupen span{
       font-size: 1.1vmax;
       color: green;
}
.ReviewBooking .review-book .price-page  .price .coupen small{
       font-size: 1.2vmax;
       color: green;

}

.ReviewBooking .review-book .price-page  .price .final-pay{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       margin-bottom: 1vmax;
       border-top: 1px solid #0000002a;
        padding-top: 0.5vmax;
}
.ReviewBooking .review-book .price-page  .price .final-pay span{
       font-size: 1.1vmax;
       font-weight: 700;
       font-size: 1.3vmax;
}
.ReviewBooking .review-book .price-page  .price .final-pay small{
       font-size: 1.2vmax;
        font-weight: 700;
        font-size: 1.3vmax;
}




.ReviewBooking .review-book .p-detail{
       width: 95%;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
      padding: 1vmax;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
  margin-top: 1vmax
}

.ReviewBooking .review-book .p-detail h6{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       font-size: 1.3vmax;
}
.ReviewBooking .review-book .p-detail  .details{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       padding-top: 1vmax;
       padding-bottom: 1vmax;

}
.ReviewBooking .review-book .p-detail  .details .one{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
}
.ReviewBooking .review-book .p-detail  .details .one span{
      font-weight: 600;
}

.ReviewBooking .review-book  .p-contact-detail{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;

}
.ReviewBooking .review-book  .p-contact-detail h6{
       font-weight: 600;
       font-size: 1.3vmax;
       margin-top: 1vmax;
}
.ReviewBooking .review-book  .p-contact-detail form{
     width: 30%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}
.ReviewBooking .review-book  .p-contact-detail form .p-form{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: space-between;  
       margin-bottom:1vmax ;
}

.ReviewBooking .review-book  .p-contact-detail form label{
      width: 100%;
      font-weight: 500;
      margin-bottom: 0.3vmax;
}
.ReviewBooking .review-book  .p-contact-detail form input{
       width: 100%;
      padding: 0.5vmax 1vmax;
      outline: none;
 }

.ReviewBooking .review-book .new-contact{
       width: 95%;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
      padding: 1vmax;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
  margin-top: 1vmax   
}
.ReviewBooking .review-book .new-contact h6{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       font-size: 1.3vmax;
}
.ReviewBooking .review-book .new-contact form{
       width: 100%;
}
.ReviewBooking .review-book .new-contact form .c-detail{
       width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 1vmax;
  margin-bottom: 1vmax   

}
.ReviewBooking .review-book .new-contact form .c-detail .cont{
       width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 1vmax;
  margin-bottom: 1vmax  ;
}
.ReviewBooking .review-book .new-contact form .c-detail .cont label{
      font-weight: 600;
}
.ReviewBooking .review-book .new-contact form .c-detail .cont input{
       padding: 0.5vmax 2vmax;
       outline: none;
 }
 .ReviewBooking .review-book .new-contact form .c-detail  .p-cont{
       width: 22%;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       flex-direction: row;
       margin-top: 1vmax;
 margin-bottom: 1vmax  ;
 }
 .ReviewBooking .review-book .new-contact form .c-detail  .p-cont button{
     border: none;
     padding: 0.7vmax 3vmax;
     color: #ffff;
     background-color: #00b7eb;
     font-weight: 600;
     border-radius: 10px;

 }
 .ReviewBooking .review-book .new-contact form .c-detail  .p-cont button:hover{
       background: none;
       border:1px solid  #00b7eb;
       color: #00b7eb;
   }
   
 


 .ReviewBooking .review-book .last-pay{
       width: 95%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-bottom: 3vmax;
       margin-top: 1vmax;
       padding: 1vmax;
       box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);

       margin-bottom: 1vmax;
       border-radius: 10px;
 }
 .ReviewBooking .review-book .last-pay .fare{
       width: 50%;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: column;
 }
 .ReviewBooking .review-book .last-pay .fare small{
     font-weight: 700;
     font-size: 1.5vmax;
 }
 .ReviewBooking .review-book .last-pay .review-pay{
       width: 50%;
       display: flex;
       align-items: flex-end;
       justify-content: flex-end;
 }
 .ReviewBooking .review-book .last-pay .review-pay button{
       display: flex;
       align-items: flex-end;
       border: none;
       padding: 0.7vmax 2vmax;
       color: #ffff;
       font-weight: 600;
       background-color: #00b7eb;
border-radius: 10px;
       justify-content: flex-end;
 }
 .ReviewBooking .review-book .last-pay .review-pay button:hover{
       background: none;
       border:1px solid  #00b7eb;
       color: #00b7eb;
 }





 @media (max-width:600px) {

     .ReviewBooking .review-book  .test-account h6{
        font-size: 2.7vmax;
    }

    .ReviewBooking .review-book .p-detail h6{
           font-size: 2.5vmax;
    }
    .ReviewBooking .review-book .p-detail .kuchbhi{
           width: 95%;
    }
    .ReviewBooking .review-book  .p-contact-detail h6{
           font-size: 2.5vmax;
    }
    .ReviewBooking .review-book  .p-contact-detail form{
         width: 100%;
    }
    .ReviewBooking .review-book  .p-contact-detail form .p-form{
           margin-bottom:2vmax ;
    }
    .ReviewBooking .review-book  .p-contact-detail form input{
          padding: 1.5vmax 1vmax;
     }
     .ReviewBooking .review-book .last-pay .review-pay button{
           padding: 1.5vmax 3vmax;
     }
       
 }

 @media (min-width:600px) and (max-width:1150px){

       .ReviewBooking .review-book  .test-account h6{
          font-size: 2.7vmax;
      }
  
      .ReviewBooking .review-book .p-detail h6{
             font-size: 2.5vmax;
      }
      .ReviewBooking .review-book .p-detail .kuchbhi{
             width: 95%;
      }
      .ReviewBooking .review-book  .p-contact-detail h6{
             font-size: 2.5vmax;
      }
      .ReviewBooking .review-book  .p-contact-detail form{
           width: 100%;
      }
      .ReviewBooking .review-book  .p-contact-detail form .p-form{
             margin-bottom:2vmax ;
      }
      .ReviewBooking .review-book  .p-contact-detail form input{
            padding: 1.5vmax 1vmax;
       }
       .ReviewBooking .review-book .last-pay .review-pay button{
             padding: 1.5vmax 3vmax;
       }
         
   }
  
