.ReviewBooking{
          width: 100%;
       background: #f5f1f1;

}
.ReviewBooking .review-book{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          background: #f5f1f1;

}
.ReviewBooking .review-book h5{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0.5vmax;
          font-weight: 700;
          background: #00b7eb;
        color: #ffff;
        text-transform: uppercase;
}
.ReviewBooking .review-book h5 i{
       margin-right: 0.2vmax;
       font-weight: lighter;
       font-size: 1.6vmax;
       margin-top: 0.2vmax;
}

.ReviewBooking .main-branch{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: row;
       padding: 1vmax;
}
.ReviewBooking .main-branch .r-right{
       width: 30%;
       display: flex;
       align-items: center;
       justify-content: center;
}
.ReviewBooking .main-branch .r-right .price-page {
       width: 95%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       flex-direction: column;
      padding: 1vmax;
      border-radius: 10px;
      background: #ffff;
      box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
  margin-top: 1vmax
}
.ReviewBooking .main-branch .r-right .price-page  h6{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       text-transform: uppercase;
       letter-spacing: 1px;
}

.ReviewBooking .main-branch .r-right .price-page  .price{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-direction: column;
       background: #f5f1f1;
       border-radius: 15px;
       margin-top: 0.5vmax;
       padding: 0.5vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .p-line{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       padding-top: 0.3vmax;

}
.ReviewBooking .main-branch .r-right .price-page  .price .p-line span{
       font-weight: 600;
       font-size: 1.1vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .p-line small{
       font-size: 1.2vmax;
}

.ReviewBooking .main-branch .r-right .price-page  .price .total-fare{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       border-top: 1px solid #0000002a;
       padding-top: 0.2vmax;
       margin-top: 1vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .total-fare span{
       font-weight: 700;
       font-size: 1.1vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .total-fare small{
       font-size: 1.2vmax;
       font-weight: 600;
}
.ReviewBooking .main-branch .r-right .price-page  .price .coupen{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       margin-bottom: 1vmax;

}
.ReviewBooking .main-branch .r-right .price-page  .price .coupen span{
       font-size: 1.1vmax;
       color: green;
}
.ReviewBooking .main-branch .r-right .price-page  .price .coupen small{
       font-size: 1.2vmax;
       color: green;

}

.ReviewBooking .main-branch .r-right .price-page  .price .final-pay{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 1vmax;
       padding-right: 1vmax;
       margin-bottom: 1vmax;
       border-top: 1px solid #0000002a;
        padding-top: 0.5vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .final-pay span{
       font-size: 1.1vmax;
       font-weight: 700;
       font-size: 1.3vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .final-pay small{
       font-size: 1.2vmax;
        font-weight: 700;
        font-size: 1.3vmax;
}

.ReviewBooking .main-branch .r-left{
       width: 70%;
       display: flex;
       align-items: center;
       justify-content: center;
}
.ReviewBooking .main-branch .r-left .left-main{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main .l-top{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
         border-radius: 15px;
  margin-top: 1vmax;
  padding: 1vmax;
  flex-direction: column;
  background: #ffff;
}
.ReviewBooking .main-branch .r-left .left-main .l-top .line{
       width: 100%;
       background: #f5f1f1;
       padding: 0.3vmax;
}
.ReviewBooking .main-branch .r-left .left-main .l-top .line i{
    font-size: 1.6vmax;
}
.ReviewBooking .main-branch .r-left .left-main .l-top .line span{
      font-weight: 600;
}
.ReviewBooking .main-branch .r-left .left-main .line-btm{
       width: 100%;
       margin-top: 0.4vmax;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: row;
       font-weight: 600;
}
.ReviewBooking .main-branch .r-left .left-main .line-btm p{
      font-size: 1.2vmax;
}
.ReviewBooking .main-branch .r-left .left-main .line-btm span{
     color: green;
     letter-spacing: 1px;
     font-weight: lighter;
     font-size: 0.9vmax;
}

.ReviewBooking .main-branch .r-left .left-main .l-coupen{
       width: 90%;
       display: flex;
       align-items: center;
       justify-content: center;
       box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
        border-radius: 15px;
 margin-top: 1vmax;
 padding: 0.2vmax;
 background: #ffff;
 flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen h6{
       width: 95%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       font-size: 1vmax;
       text-transform: uppercase;
       letter-spacing: 1px;
       margin-top: 0.4vmax;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop{
       width: 100%;
       display: flex;
       align-items:center;
       justify-content: space-between;
     flex-direction: row;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-l{
       width: 40%;
       display: flex;
       align-items:center;
       justify-content: center;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-l img{
       width: 30%;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r{
       width: 60%;
       display: flex;
       align-items:center;
       justify-content: space-evenly;
       flex-direction: row;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r input{
      outline: none;
      border-radius: 10px;
      border: 0.1px solid #0000005d;
      padding: 0.5vmax 5vmax;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r button{
     border: none;
     padding: 0.5vmax 2.5vmax ;
     background-color: rgba(255, 0, 0, 0.749);
     color: #fff;
     border-radius: 10px;
     font-weight: 600;
 }


.ReviewBooking .main-branch .r-left .left-main .passnger-Info-page{
       width: 90%;
       display: flex;
       align-items: center;
       justify-content: center;
       box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
        border-radius: 15px;
 margin-top: 1vmax;
 background: #ffff;
 flex-direction: column;
}


.ReviewBooking .main-branch .r-left .left-main  .new-contact{
       width: 90%;
       display: flex;
       align-items: center;
       justify-content: center;
       box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.176);
        border-radius: 15px;
 margin-top: 1vmax;
 background: #ffff;
 flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact h6{
       width: 95%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       font-size: 1vmax;
       text-transform: uppercase;
       letter-spacing: 1px;
       margin-top: 0.4vmax;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact p{
       width: 95%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-size: 0.8vmax;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact form{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail{
       width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
  margin-bottom: 1vmax ;
  

}
.ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail .cont{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 1vmax;
  margin-bottom: 1vmax  ;
}

.ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail .cont input{
       padding: 0.6vmax 3vmax;
       outline: none;
       border-radius: 10px;
       border: 0.1px solid #00000082;
 }


 
   .ReviewBooking .review-book  .r-left .left-main .last-pay{
       width: 98%;
       display: flex;
       align-items: center;
       justify-content: center;
        border-radius: 15px;
 margin-bottom: 1vmax;
 background: #ffff;
 flex-direction: row;
  padding-left:1vmax;
  padding-right:1vmax;

 }
 .ReviewBooking .review-book .r-left .left-main  .last-pay .fare{
       width: 50%;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       flex-direction: column;
 }
 .ReviewBooking .review-book .r-left .left-main  .last-pay .fare h6{
       width: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       font-weight: 600;
       font-size: 1vmax;
       text-transform: uppercase;
       letter-spacing: 1px;
       margin-top: 0.4vmax;
}
 .ReviewBooking .review-book .r-left .left-main  .last-pay .fare small{
     font-weight: 700;
     font-size: 1.2vmax;
 }
 .ReviewBooking .review-book  .r-left .left-main .last-pay .review-pay{
       width: 50%;
       display: flex;
       align-items: flex-end;
       justify-content: flex-end;
 }
 .ReviewBooking .review-book  .r-left .left-main .last-pay .review-pay button{
       display: flex;
       align-items: flex-end;
       border: none;
       padding: 0.6vmax 1vmax;
       color: #ffff;
       font-weight: 600;
       background-color: #00b7eb;
border-radius: 10px;
       justify-content: flex-end;
 }



 @media (max-width:600px) {
    .ReviewBooking .review-book h5{
              width: 100%;
              justify-content:center;
              padding: 1vmax;
              margin-top: 0.1vmax;
              color: #ffff;   
              font-size: 2.2vmax;
              background-color:#00b7eb;    
              letter-spacing: 2px;
              align-items: center;
                    
    }
    .ReviewBooking .review-book h5 i{
         display: none;
    }
    
    .ReviewBooking .main-branch{
           align-items: center;
           justify-content:center;
           flex-direction: column-reverse;
           padding: 1vmax;
    }  
    
    .ReviewBooking .main-branch .r-right{
       width: 100%;
}
.ReviewBooking .main-branch .r-right .price-page {
       width: 95%;
      padding: 0.5vmax;
}

.ReviewBooking .main-branch .r-right .price-page  .price .p-line span{
       font-size: 1.8vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .p-line small{
       font-size: 1.9vmax;
}

.ReviewBooking .main-branch .r-right .price-page  .price .total-fare span{
       font-size: 1.8vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .total-fare small{
       font-size: 1.8vmax;
}

.ReviewBooking .main-branch .r-right .price-page  .price .coupen span{
       font-size: 1.8vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .coupen small{
       font-size: 1.8vmax;

}

.ReviewBooking .main-branch .r-right .price-page  .price .final-pay span{
       font-size: 2vmax;
}
.ReviewBooking .main-branch .r-right .price-page  .price .final-pay small{
       font-size: 2vmax;
}



.ReviewBooking .main-branch .r-left{
       width: 100%;
}
.ReviewBooking .main-branch .r-left .left-main{
       width: 100%;
}
.ReviewBooking .main-branch .r-left .left-main .l-top{
        width: 95%;
}

.ReviewBooking .main-branch .r-left .left-main .l-top .line i{
    font-size:2.5vmax;
}

.ReviewBooking .main-branch .r-left .left-main .line-btm{
       width: 100%;
       align-items: flex-start;
       flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main .line-btm p{
      font-size: 2vmax;
}
.ReviewBooking .main-branch .r-left .left-main .line-btm span{
     font-size: 1.7vmax;
}


.ReviewBooking .main-branch .r-left .left-main .l-coupen{
       width: 95%;
 flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen h6{
       width: 95%;
       font-size: 2.2vmax;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop{
       width: 100%;
     flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-l{
       width: 100%;
       display: flex;
       align-items:center;
       justify-content: center;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-l img{
       width: 30%;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r{
       width: 100%;
       flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r input{
      padding: 1.5vmax 5vmax;
      width: 95%;
}
.ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r button{
     margin-top: 2vmax;
     padding: 1.5vmax 2.5vmax ;
      width: 95%;
      margin-bottom: 1vmax;
 }







 
.ReviewBooking .main-branch .r-left .left-main .passnger-Info-page{
       width: 95%;
}


.ReviewBooking .main-branch .r-left .left-main  .new-contact{
       width: 95%;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact h6{
       width: 95%;
       font-size: 2.2vmax;
       margin-top: 1vmax;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact p{
       font-size: 1.2vmax;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact form{
       width: 100%;
        
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail{
       width: 95%;
        flex-direction: column;
}
.ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail .cont{
       width: 100%;
}

.ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail .cont input{
       padding: 1.3vmax 1vmax;
       width: 100%;
   
 }
 .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail  .p-cont{
       width: 100%;
 }

 .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail  .p-cont button{
       width: 100%;
     padding: 1.3vmax 1vmax;
     margin-top: 1vmax;
     margin-bottom: 1vmax;
 }

   
 
   .ReviewBooking .review-book  .r-left .left-main .last-pay{
       width: 100%;
 flex-direction: column;
  padding-left:0vmax;
  padding-right:0vmax;

 }
 .ReviewBooking .review-book .r-left .left-main  .last-pay .fare{
       width: 95%;
 }
 .ReviewBooking .review-book .r-left .left-main  .last-pay .fare h6{
       width: 100%;
       font-size: 2.2vmax;

}
 .ReviewBooking .review-book .r-left .left-main  .last-pay .fare small{
     font-size: 2.5vmax;
 }
 .ReviewBooking .review-book  .r-left .left-main .last-pay .review-pay{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
 }
 .ReviewBooking .review-book  .r-left .left-main .last-pay .review-pay button{
       padding: 1.5vmax 1vmax;
       justify-content: center;
       width: 95%;
       margin-bottom: 2vmax;
       margin-top: 1vmax;
 }






 }






 @media (min-width:600px) and (max-width:1250px) {
       .ReviewBooking .review-book h5{
                 width: 100%;
                 justify-content:center;
                 padding: 0vmax;
              font-size: 2.2vmax;

       }
       .ReviewBooking .review-book h5 i{
            display: none;
       }
       
       .ReviewBooking .main-branch{
              align-items: center;
              justify-content:center;
              flex-direction: column-reverse;
              padding: 1vmax;
       }  
       
       .ReviewBooking .main-branch .r-right{
          width: 100%;
   }
   .ReviewBooking .main-branch .r-right .price-page {
          width: 95%;
         padding: 0.5vmax;
   }
   
   .ReviewBooking .main-branch .r-right .price-page  .price .p-line span{
          font-size: 1.8vmax;
   }
   .ReviewBooking .main-branch .r-right .price-page  .price .p-line small{
          font-size: 1.9vmax;
   }
   
   .ReviewBooking .main-branch .r-right .price-page  .price .total-fare span{
          font-size: 1.8vmax;
   }
   .ReviewBooking .main-branch .r-right .price-page  .price .total-fare small{
          font-size: 1.8vmax;
   }
   
   .ReviewBooking .main-branch .r-right .price-page  .price .coupen span{
          font-size: 1.8vmax;
   }
   .ReviewBooking .main-branch .r-right .price-page  .price .coupen small{
          font-size: 1.8vmax;
   
   }
   
   .ReviewBooking .main-branch .r-right .price-page  .price .final-pay span{
          font-size: 2vmax;
   }
   .ReviewBooking .main-branch .r-right .price-page  .price .final-pay small{
          font-size: 2vmax;
   }
   
   
   
   .ReviewBooking .main-branch .r-left{
          width: 100%;
   }
   .ReviewBooking .main-branch .r-left .left-main{
          width: 100%;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-top{
           width: 95%;
   }
   
   .ReviewBooking .main-branch .r-left .left-main .l-top .line i{
       font-size:2.5vmax;
   }
   
   .ReviewBooking .main-branch .r-left .left-main .line-btm{
          width: 100%;
          align-items: flex-start;
          flex-direction: column;
   }
   
   .ReviewBooking .main-branch .r-left .left-main .l-coupen{
          width: 95%;
    flex-direction: column;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen h6{
          width: 95%;
          font-size: 2.2vmax;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen .cop{
          width: 100%;
        flex-direction: column;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-l{
          width: 100%;
          display: flex;
          align-items:center;
          justify-content: center;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-l img{
          width: 30%;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r{
          width: 100%;
          flex-direction: column;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r input{
         padding: 1.5vmax 5vmax;
         width: 90%;
   }
   .ReviewBooking .main-branch .r-left .left-main .l-coupen .cop .cp-r button{
        margin-top: 2vmax;
        padding: 1.5vmax 2.5vmax ;
         width: 90%;
         margin-bottom: 1vmax;
    }
   
   
   
   
   
   
   
    
   .ReviewBooking .main-branch .r-left .left-main .passnger-Info-page{
          width: 95%;
   }
   
   
   .ReviewBooking .main-branch .r-left .left-main  .new-contact{
          width: 95%;
   }
   .ReviewBooking .main-branch .r-left .left-main  .new-contact h6{
          width: 95%;
          font-size: 2.2vmax;
          margin-top: 1vmax;
   }
   .ReviewBooking .main-branch .r-left .left-main  .new-contact p{
          font-size: 1.2vmax;
   }
   .ReviewBooking .main-branch .r-left .left-main  .new-contact form{
          width: 100%;
           
   }
   .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail{
          width: 95%;
           flex-direction: column;
   }
   .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail .cont{
          width: 100%;
   }
   
   .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail .cont input{
          padding: 1.3vmax 1vmax;
          width: 100%;
      
    }
    .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail  .p-cont{
          width: 100%;
    }
   
    .ReviewBooking .main-branch .r-left .left-main  .new-contact form .c-detail  .p-cont button{
          width: 100%;
        padding: 1.3vmax 1vmax;
        margin-top: 1vmax;
        margin-bottom: 1vmax;
    }
   
      
    
      .ReviewBooking .review-book  .r-left .left-main .last-pay{
          width: 100%;
    flex-direction: column;
     padding-left:0vmax;
     padding-right:0vmax;
   
    }
    .ReviewBooking .review-book .r-left .left-main  .last-pay .fare{
          width: 95%;
    }
    .ReviewBooking .review-book .r-left .left-main  .last-pay .fare h6{
          width: 100%;
          font-size: 2.2vmax;
   
   }
    .ReviewBooking .review-book .r-left .left-main  .last-pay .fare small{
        font-size: 2.5vmax;
    }
    .ReviewBooking .review-book  .r-left .left-main .last-pay .review-pay{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
    }
    .ReviewBooking .review-book  .r-left .left-main .last-pay .review-pay button{
          padding: 1.5vmax 1vmax;
          justify-content: center;
          width: 95%;
          margin-bottom: 2vmax;
          margin-top: 1vmax;
    }
   
   
   
   
   
   
    }
   
   
   
   
   
   