.fdetailspriceBox{
    background-color: #d4edda;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 20px;
}
.flightDetailssec{
    background-color: #dddddd;
    padding: 20px 20px;
}
.fdetailspriceBox p{
    color: #155724;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.fdetailspriceBox h6{
    font-size: 14px;
    font-weight: 400;
    color: #155724;
}
.fdetailspriceBox h5{
    /* font-size: 16px; */
    font-weight: bold;
    color: #155724;
}

.fligthReviewhed{
    display: flex;
    margin-bottom: 10px;
}
.fligthReviewhed svg{
    font-size: 20px;
    margin-right: 10px;
}
.fligthReviewhed h5{
    font-weight: 800;
}

.fligthReviewBox{
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    border-radius: 7px;
    margin-bottom: 30px;
}
.fligthReviewBoxHed{
    display: flex;
    justify-content:center;
    background-color: #eeeeee;
    align-items: center;
    margin-bottom: 20px;
}
.fligthReviewBoxHed svg{
    font-size: 25px;
    margin-left: 10px;
}
.fligthReviewBoxHed h6{
    font-weight: bold;
}
.fligthReviewBoxHedText{
    display: flex;
    justify-content: space-between;
}
.fligthReviewBoxHedbttn{
    text-align: end;
}
.fligthReviewBoxHedbttn button{
    background-color: #fffa9a;
    color: #0666cd;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 20px;
    font-size: 13px;
    font-weight: bold;
}
.fligthReviewBoxHedMain{
    border: 1px solid #80808040;
}
.fligthReviewBoxHedMain .tabs{
    border-bottom: 1px solid #80808040;
}


/*flight details tabs */
/* styles.css */
.tabs button {
    padding: 10px;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.tabs button.active {
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border: 2px solid #80808040; /* Add border for active tab */
}

.tab-content {
    margin-top: 20px;
}

.flighttTabContent{
    padding: 10px 20px;
}
.flighttTabContentCol1 img{
    border-radius: 12px;
    height: 40px;
}
.flighttTabContentCol2 h5,
.flighttTabContentCol4 h5{
    font-weight: 800;
    margin: 0px;
}
.flighttTabContentCol2p1,
.flighttTabContentCol2p2,
.flighttTabContentCol2p3{
    margin: 0px;
}
.flighttTabContentCol2p1{
    font-weight: 500;
    font-size: 18px;
}
.flighttTabContentCol2p3{
    font-size: 12px;
    color: gray;
}
.flighttTabContentCol2p2{
    font-size: 14px;
    color: gray;
}

.baggageTabRow p{
    color: gray;
    font-size: 12px;
    margin-top: 30px;
}
.baggageTabRow .col-12{
    padding: 10px 30px;
}
.fareTabRow .col-12{
    padding: 10px 30px;
}

.fare-bordered-table, .fare-bordered-table th, .fare-bordered-table td {
    border: 1px solid rgba(128, 128, 128, 0.384);
    border-collapse: collapse;
    padding: 8px;
}

.fare-bordered-table th, .fare-bordered-table td {
    padding: 8px;
    text-align: left;
    font-size: 14px;
}
.cancellationTabRow{
    padding: 10px 30px;
}
.cancellationtable h6{
    font-weight: bold;
}
.cancellationtable{
    margin-bottom: 20px;
}
.cancellationTabRow ul li{
    font-size: 13px;
    color: rgb(54, 52, 52);
    line-height: 30px;
}

.fligthPriceDetailsBox{
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    border-radius: 10px;
}
.fligthPriceDetailsBoxDiv1,
.fligthPriceDetailsBoxDiv2,
.fligthPriceDetailsBoxDiv3,
.fligthPriceDetailsBoxDiv4,
.fligthPriceDetailsBoxDiv5,
.fligthPriceDetailsBoxDiv6,
.fligthPriceDetailsBoxDiv7
{
    display: flex;
    justify-content: space-between;
}
.fligthPriceDetailsBoxDiv8{
    display: flex;
    justify-content: center;
}
.fligthPriceDetailsBoxDiv8 img{
    height: 80px;
}