/* HotelSearch.css */

/* --------- Start --------- */
.hotel_container {
   margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #00b7eb;
}

.content_wrapper {
  display: flex;
  margin-top: 50px;
  margin-left: 120px;
}
.content_box h1{
  font-family: sans-serif;
}
.content_box p {
  font-family: sans-serif;
  font-size: 1.2vmax;
}

.images_container {
  margin-top: 100px;
  position: relative;
  width: 300px;
  margin-left: 600px;
}

.img_box {
  position: absolute;
  width: 300px;
  border: 3px solid black;
  border-radius: 20px;
}

.image1 {
  bottom: -100px;
  left: -100px;
  border: 3px solid black;
  border-radius: 20px;
  width: 350px;
}

.image2 {
  bottom: -280px;
  right: 250px;
  border: 3px solid black;
  border-radius: 20px;
}

.image3 {
  bottom: -80px;
  right: 420px;
  border: 3px solid black;
  border-radius: 20px;
  width: 80%;
}
/* ----------- End ---------- */

/* ----------- Start Form--------- */
.sec_book {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.hotel_booking {
  width: 100%;
  max-width: 1200px; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.form-field {
  flex: 1;
  min-width: 200px;
  margin: 10px 0; 
}

.form_lable {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.1vmax;
  font-family: sans-serif;
}

.form_in {
  font-family: sans-serif;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.guest_field {
  position: relative;
  flex: 1;
}

.guest_options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  padding: 10px;
  box-sizing: border-box;
}

.guest_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form_in .react-datepicker-wrapper {
  width: 100%;
}

.form_in.react-datepicker__input-container {
  width: 100%;
}

.btn-sub {
  padding: 10px;
  background-color: #00b7eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px; 
  align-self: center; 
}

.btn-sub:hover {
  background-color: #00b7eb;
}
/* --------------- End -------------- */

/* ----------- End ------------- */
.Exclusive_offer {
  margin-top: 2vmax;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #fff;
}
.Exclusive_offer  h5{
  font-family: sans-serif;
  font-size: 1.7vmax;
  font-weight: 700;
  margin-top: 1vmax;
  width: 85%;
}
 .offer_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1vmax;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
}
 .offer_box{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
  gap: 2vmax;
}

  .offer_box::-webkit-scrollbar{
display: none;
}

 .offer_box img{
  width: 100%;
  height: 300px;
}
/* ------------- End ----------- */

/* ------------- start ----------- */
.booking_head {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 1vmax;
}

.booking_head h5{
  font-family: sans-serif;
font-size: 1.7vmax;
  font-weight: 700;
  margin-top: 1vmax;
}
.Hotel_Booking_container {
  position: relative;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('https://www.webintravel.com/wp-content/uploads/2022/03/hotel-hanieriani-GettyImages-1066x440.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.booking_box {
  
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.booking_box h5{
  font-family: sans-serif;
}


.booking_box p{
  font-family: sans-serif;
}
.play_store {
  width: 100px;
  height: auto;
}

.apple_play_store {
  width: 200px;
  height: auto;
}
/* ------------- End -------------- */
@media (max-width: 1440px) {
.images_container {
    margin-top: 100px;
    position: relative;
    width: 300px;
  }

  .img_box {
    position: absolute;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
  }

  .image1 {
    bottom: -100px;
    left: -210px;
    border: 3px solid black;
    border-radius: 20px;
    width: 330px;
  }

  .image2 {
    bottom: -280px;
    right: 280px;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .image3 {
    bottom: -80px;
    right: 530px;
    border: 3px solid black;
    border-radius: 20px;
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .hotel_container {
    margin-top: 5px;
  }

  .content_wrapper {
    margin-left: 0;
    flex-direction: column;
    margin-top: 0;
  }

  .content_box p {
    font-size: 2.5vmax;
  }

  .images_container {
    margin-top: 0;
    width: 100%;
    margin-left: 0px;
    margin-right: 300px;
  }

  .img_box {
    position: relative;
    width: 100%;
  }

  .image1,
  .image2,
  .image3 {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .offer_img {
    width: 100%;
    padding-left: 0;
  }
  
  .hotel_booking {
    margin-top: 0;
  }
  
.form_in .react-datepicker-wrapper {
  width: 100%;
}

.form_in.react-datepicker__input-container {
  width: 100%;
}

}

@media (max-width: 768px) {
  .hotel_container {
    padding: 10px;
    margin-top: 7px;
  }

  .content_wrapper {
    margin-left: 0;
  }
  
  .images_container {
    margin-top: 20px;
    width: 100%;
  }

  .img_box {
    position: relative;
    width: 100%;
  }

  .image1,
  .image2,
  .image3 {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .form-row {
    flex-direction: column;
  }

  .form-field {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }

  .btn-sub {
    width: 100%;
  }

  .offer_img {
    width: 100%;
    padding-left: 0;
  }
  
.form_in .react-datepicker-wrapper {
  width: 100%;
}

.form_in.react-datepicker__input-container {
  width: 100%;
}
}

@media (max-width: 576px) {
  
  .hotel_container {
    padding: 10px;
    margin-top: 5px;
  }

  .content_wrapper {
    margin-left: 0;
  }
  
  .images_container {
    margin-top: 20px;
    width: 100%;
  }

  .img_box {
    position: relative;
    width: 100%;
  }

  .image1,
  .image2,
  .image3 {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .form-field .form_lable {
    margin-right: 0;
    font-weight: 600;
  }

  .form-field .form_in,
  .guest-field .form_in {
    padding: 8px;
    font-size: 12px;
    width: 100%;
  }

  .guest-options {
    margin-top: 10px;
    width: 70%;
  }

  .guest-type span {
    font-size: 12px;
  }

  .btn-sub {
    font-size: 14px;
    padding: 10px;
  }
  
  .offer_img {
    width: 100%;
    padding-left: 0;
  }

  .hotel_booking {
    padding: 10px;
  }

  .booking_box {
    width: 80%; 
    max-width: 320px; 
  }
  
.form_in .react-datepicker-wrapper {
  width: 100%;
}

.form_in.react-datepicker__input-container {
  width: 100%;
}
}

