.BusPayHistory{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #f3fcfe93;

}
.BusPayHistory h5{
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          font-weight: 700;
          padding: 1vmax;
}
.BusPayHistory .pay-history{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background: #ffff;
}
.BusPayHistory .pay-history .pay-line{
          width: 95%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
           padding-left: 1vmax;
           padding-right: 1vmax;
           margin-top: 0.5vmax;
           background: #e9e8e862;
           margin-bottom: 0.3vmax;
}