.content_wrapper {
    display: flex;
  }
  
.content_box{
    flex: 1;
    padding: 20px;
  }

  .images_container{
    margin-top: 100px;
    position: relative;
    width: 300px; 

  }
  

  .img_box {
    position: absolute;
    width: 300px; 
    border: 3px solid black; 
    border-radius: 20px; 
  
  }
  
  
  .image1 {
    bottom: -100px;
    left: -100px; 
    border: 3px solid black; 
    border-radius: 20px; 
    width: 350px;
   
  }

  .image2 {
    bottom: -280px; 
    right: 250px;
    border: 3px solid black;
    border-radius: 20px; 
   
  }
  
  .image3 {
    bottom: -80px;
    right: 420px;
    border: 3px solid black; 
    border-radius: 20px; 
    width: 80%; 
      }

      .blank_div{
        height: 10px;
      }
  