.flightPageBanner {
    background-color: #00b7eb;
    padding: 30px 30px;
}

.findFlightss button {
    background-color: #808080a8;
    color: white;
    border: navajowhite;
    margin-bottom: 20px;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: none;
}

.bannerSlider img {
    border-radius: 10px;
}

.bannerSlider {
    padding-top: 20px;
}

.flightmainBooking {
    background-color: white;
    border-radius: 15px;
    /* height: 350px; */
    padding: 14px 10px;
}

.flightmainBooking label {
    font-weight: bold;
    font-size: 17px;
    /* margin-left: 10px; */
}

.flightmainBooking .onewaybutton {
    margin-right: 20px;
}

.onewaybutton input,
.twowaybutton input {
    margin-top: -1px;
}

.onewaybutton label,
.twowaybutton label {
    color: black;
    margin-left: 10px;
    font-weight: 500;
}

.flightmainBooking .onewaybutton,
.flightmainBooking .twowaybutton {
    border: 1px solid gray;
    border-radius: 7px;
    background: no-repeat;
    background-color: transparent;
    padding: 6px 15px;
    font-size: 13px;
    background-color: #f8f9fa;
}

.flightmainBooking .onewaybutton:hover,
.flightmainBooking .twowaybutton:hover {
    background-color: gray;
    color: white;
}

.flightformRow input {
    border-radius: 7px;
    border: 1px solid gray;
    padding: 9px 20px;
}

.home-flight-search {
    display: flex;
    justify-content: end;
    align-items: center;
}

.home-flight-search button {
    background-color: #00b7eb;
    border: 1px solid #00b7eb;
    color: white;
    border-radius: 12px;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 18px;
}

.home-flight-search button:hover {
    background-color: transparent;
    border: 1px solid #00b7eb;
    color: #00b7eb;
}

.date-picker-wrapper {
    position: relative;
}

.date-picker-wrapper .form-control {
    padding-right: 30px;
    /* Add space for the icon */
    padding-right: 30px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 11px 20px;
}

.date-picker-icon {
    position: absolute;
    color: rgb(48 45 45 / 79%);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    margin-right: 14px;
    font-size: 24px;
}

.onewayreturnhidebtn {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.onewayreturnhidebtn svg {
    color: gray;
}

.flightTravellerclss {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}

.flightTravellerclss span {
    color: #00b7eb;
    font-size: 15px;
}

.flightTravellerclss svg {
    font-size: 20px;
    color: rgb(48, 45, 45);
    margin-top: -14px;
    margin-left: -12px;
}

.flightTravellerclss .downarrrow {
    font-size: 22px;
    color: gray;
    margin-right: -18px;
    margin-left: 0px;
}

.flightTravellerclss p {
    font-weight: 500;
    font-size: 15px;
}

.home-flight-search {
    margin-top: 2px;
    display: flex;
    justify-content: end;
}

.flightbooksec2 {
    padding: 40px 250px;
}

.flightbooksec3 {
    padding: 20px 40px;
    background-color: #f8f9fa;
}

.flightbooksec3Col {
    display: flex;
    justify-content: space-around;
}

.flightbooksec3Col h6 {
    font-weight: bold;
    margin-left: 20px;
}

.flightbooksec3Col p {
    font-size: 12px;
    margin-left: 20px;
}

.flightbooksec3Col img {
    height: 60px;
    width: 70px;
}

.flightbooksec3 h5 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.exictingOffers {
    padding: 2px 30px;
}

.exictingOffers h5 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.exclusive-dealsSec img {
    height: 400px;
}

.overlay-text {
    width: 100%;
    color: white;
}

.exclusive-dealsSec {
    padding: 4px 30px;
}

.exclusive-dealsSec h3 {
    font-weight: bold;
    margin-top: 20px;
}

.exclusive-dealsSec h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.travellerdropdown {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 450px;
    padding-bottom: 20px;
    border-radius: 4px;
}

.travellerdropdown .dropdown-header {
    display: flex;
    justify-content: end;
    font-size: 30px;
}

.travellerdropdown .dropdown-header svg {
    cursor: pointer;
}

.travellerdropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.travellerdropdown ul li {
    padding: 10px;
    cursor: pointer;
}

.travellerdropdown ul li:hover {
    background-color: #f0f0f0;
}

.travellerdropdowncol1 {
    border-right: 1px solid gray;
}

.travellerdropdown h6 {
    color: rgba(87, 82, 82, 0.418);
    /* color: #00b7eb; */
    font-weight: 400px;
    margin-bottom: 15px;
}

.travellerdropdowncol2 p {
    color: #222 !important;
}

.flightpageagebox {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.infantsMinusicon {
    color: red;
    font-size: 25px;
    margin: 0px 7px;

}

.adultPlusicon {
    color: green;
    font-size: 25px;
    margin: 0px 7px;
}

.adultMinusicon {
    color: red;
    font-size: 25px;
    margin: 0px 7px;

}

.childPlusicon {
    color: green;
    font-size: 25px;
    margin: 0px 7px;
}

.childMinusicon {
    color: red;
    font-size: 25px;
    margin: 0px 7px;

}

.infantsPlusicon {
    color: green;
    font-size: 25px;
    margin: 0px 7px;
}

.flightsec6 {
    background-image: url('/src/assets/images/6346166.jpg');
    /* background-image: url('/src/assets/images/flightbookingappbanner.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 40px;
    /* padding: 100px 300px; */
}

.googleplaybtn {
    display: flex;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #1d2124;
    margin-top: 35px;
}

.googleplaybtn svg {
    font-size: 25px;
    /* margin-top: 1px; */
    margin-right: 5px;
}

.flightsec6col {
    display: flex;
    justify-content: center;
    margin-top: 40px !important;
}

.flightsec6coldiv h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.exclusivecol{
    margin-bottom: 20px;
}

.ss img {
    border-radius: 10px;
}

/* responsive */
.flightbooksec3Col{
    margin-top: 30px;
}
.flightsec7row{
    display: flex;
    justify-content: space-around;
}
.flightsec7{
    padding: 50px 10px;
}
.flightsec7 img{
    border-radius: 10px;
}
.flightsec7col{
    padding:5px 100px ;
    background-color: white;
    padding: 20px 35px;
}
.flightsec7col h3{
    color: #00b7eb;
    font-weight: bold;
    margin-bottom: 15px;
}
.flightsec7col p{
    font-size: 15px;
}
.flightsec7form label{
    font-weight: bold;
    margin-bottom: 10px;
}
.flightsec7form p{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}
.flightsubscr{
    text-align: end;
}
.flightsubscr button{
    text-align: end;
    border: none;
    background: skyblue;
    color: white;
    padding: 9px 23px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
}


/* responsive css */
@media screen and (max-width: 768px) {
    .flightbooksec2{
        display: none;
    }

    .pricebtns button {
        padding: 5px 15px;
        border-radius: 17px;
        font-size: 13px;
        /* margin-left: 20px; */
    }
    .flistname {
        font-size: 12px;
    }
    .flistname p {
        font-size: 13px;
    }
    .flistnamep3 {
        padding: 0px 20px;
    }
    .flight-content .row {
        padding: 10px 0px;
    }
}