.search_Item {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hotelCarousel {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.hotel_Img {
    width: 100%;
    max-height: 400px; 
    object-fit: cover;
    object-position: center;
}

.Header_hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title_hotel {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0; 
}

.Distance_hotel {
    color: #00b7eb;
}

.Taxi_hotel {
    color: #28a745;
}

.Cancel_hotel {
    color: #dc3545;
}

.Description_hotel h5 {
    margin-top: 10px;
    margin-bottom: 0; 
    font-size: 1.1em; 
}

.Description_hotel p {
    margin-top: 0; 
    margin-bottom: 10px; 
    line-height: 1.4; 
}

.Features_hotel h5 {
    margin-top: 0; 
    margin-bottom: 5px; 
}

.Features_hotel {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    padding: 10px 0;
}

.Feature_item {
    border: 1px solid rgb(69, 68, 68);
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #f9f9f9;
    flex: 1 0 auto; 
    margin: 2px; 
}

.Rating_hotel {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffc107;
}

.PriceButton {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
    padding-top: 10px; 
}

.Price_hotel {
    margin: 0; 
    font-size: 1.2em;
    font-weight: bold;
    color: #484646;
}

.hotel_Button {
    background-color: #00b7eb;
    color: white;
    font-weight: bold;
    padding: 10px 15px; 
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    margin: 0; 
}
