
/* -------------Image section-------- */
.ro{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hotelCarousel {
    width: 100%;
    /* max-width: 500px; */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.hotel_Img {
    width: 100%;
    max-height:500px; 
    object-fit: cover; 
}

/* Single image in the second column */
.hotel_Img_single {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-top: 25px;
  }
  
  .hotel_Img_single:hover {
    transform: scale(1.05);
  }
  
  /* Modal image styling */
  .hotel_Img_modal {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Hotel description section */
.search_Item {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.386);
}


.Description_hotel h5 {
    margin-top: 10px;
    margin-bottom: 0; 
    font-size: 1.1em; 
    font-family: sans-serif;
    font-weight: bold;
}

.Description_hotel p {
    margin-top: 0; 
    margin-bottom: 10px; 
    line-height: 1.4; 
    font-family: sans-serif;
}

.Header_hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title_hotel {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0; 
}

.Distance_hotel {
    color: #00b7eb;
    font-family: sans-serif;
}

.Taxi_hotel {
    color: #28a745;
}

.Cancel_hotel {
    color: #dc3545;
}

.Rating_hotel {
    display: flex;
    align-items: center;
    /* gap: 3px; */
    font-size: 12px;
    /* color: #ffc107; */
}
.Features_hotel h5 {
    margin-top: 0; 
    margin-bottom: 5px; 
    font-family: sans-serif;
}

.Features_hotel {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    padding: 10px 0;
    font-family: sans-serif;
}

.Feature_item {
    /* border: 1px solid rgb(69, 68, 68); */
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #f9f9f9;
    /* flex: 1 0 auto;  */
    margin: 2px; 
}

.PriceButton {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
    padding-top: 10px; 
}

.Price_hotel {
    margin: 0; 
    font-size: 1.2em;
    font-weight: bold;
    color: #484646;
    font-family: sans-serif;
}

.hotel_Button {
    background-color: #00b7eb;
    color: white;
    font-weight: bold;
    padding: 10px 15px; 
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    margin: 0; 
    font-family: sans-serif;
}
/* ----------End hotel discription------------- */
@media (max-width: 768px) {
    .Feature_item{
font-size: 12px;
    }
}