/* -------------Image section-------- */

.hotelDescriptionSection {
    background-color: #dddddd;
    padding: 30px 0px;
}

.search_Item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.386);
    background-color: #f9f9f9;
}

.ro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.hotelName h3 {
    color: #007bff;
    margin-top: 5px;
}


.hotelName span {
    font-size: 14px;
    margin-left: 10px;
}

.hotelCarousel {
    width: 100%;
    /* max-width: 500px; */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.hotel_Img {
    width: 100%;
    max-height: 510px;
    object-fit: cover;
}

.hotel_Img_single_above {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* 
.hotel_Img_single_above:hover {
    transform: scale(1.05);
  } */

/* Single image in the second column */
.hotel_Img_single {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

/*   
  .hotel_Img_single:hover {
    transform: scale(1.05);
  } */

/* Modal image styling */
.hotel_Img_modal {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Hotel description section */
.search_Item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.386);
}

.Description_hotel h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.1em;
    font-family: sans-serif;
    font-weight: bold;
}

.Description_hotel p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.4;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    /* height: 320px !important; */
    /* max-height:500px;  */
    /* object-fit: cover;  */
}

.Header_hotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title_hotel {
    font-size: 1.8em;
    font-weight: bold;
    /* margin: 0; */
    letter-spacing: 0.5px;
    color: #007bff;
}

.Distance_hotel {
    color: #767373;
    font-family: sans-serif;
}

.Taxi_hotel {
    color: #28a745;
}

.Cancel_hotel {
    color: #dc3545;
}

.Rating_hotel {
    display: flex;
    align-items: center;
    /* gap: 3px; */
    font-size: 12px;
    /* color: #ffc107; */
}

.Features_hotel h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.Features_hotel {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
    font-family: sans-serif;
}

.Feature_item {
    border: 1px solid rgb(69, 68, 68);
    border-radius: 5px;
    padding: 10px 11px;
    background-color: #f9f9f9;
    flex: 1 0 auto;
    margin: 2px;
    /* letter-spacing: 0.5px; */
}

.PriceButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.Price_hotel {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #484646;
    font-family: sans-serif;
}

.hotel_Button {
    background-color: #00b7eb;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    font-family: sans-serif;
}
.hotel_des_Btn{
    background-color: #00b7eb;
    color: white;
    font-weight: bold;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    font-family: sans-serif; 
}
.timer {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #eaffef;
    color: rgba(255, 0, 0, 0.71);
    font-weight: bold;
    border-top: 1px solid #00e10070;
    transition: box-shadow 0.3s ease-in-out;
  }
  
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .timer {
      padding: 8px 8px; 
      font-size: 14px; 
    }
  }
  
  @media (max-width: 480px) {
    .timer {
      padding: 6px 6px; 
      font-size: 12px; 
      text-align: center; 
    }
  }
/* ----------End hotel discription------------- */
@media (max-width: 768px) {
    .Feature_item {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .hotelDescriptionSection {
        padding: 10px 0px;
    }
    .search_Item{
        margin-top: 10px;
        margin-bottom: 0px;
    }
}