.ForgotPassword{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
}
.ForgotPassword .forgot-password{
          width: 40%;
          margin-top: 0.5vmax;
          margin-bottom: 2vmax;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          box-shadow: 2px 2px 5px 2px rgba(255, 236, 236, 0.904);
}
.ForgotPassword .forgot-password .top{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          background: #0a223d;
          color: #fff;
          padding: 1vmax;
 } 

 .ForgotPassword .forgot-password p{
          width: 95%;
          display: flex;
          font-weight: 600;
          font-size: 1.2vmax;
          align-items: flex-start;
          justify-content: flex-start;
 } 
 .ForgotPassword .forgot-password form{
        width: 95%;
}
 .ForgotPassword .forgot-password .f-btm{
          width: auto;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 1.5vmax;
 }
 .ForgotPassword .forgot-password .f-btm .iptf{
          width: 100%;  
          position: relative;  
         
 }
 .ForgotPassword .forgot-password .f-btm .iptf input{
          width: 100%;
          margin-top: 0.6vmax;
          border: none;
          background-color: none;
          border: 0.2px solid #0000003d;
          padding: 0.7vmax 1vmax;
          border-radius: 5px;
          outline: none;
 }
 .ForgotPassword .forgot-password .sbt{
          width: 100%;
  }
  .ForgotPassword .forgot-password button {
          width: 100%;
          border: none;
          background-color: #00b7eb;
          border-radius: 5px;
          color: #fff;
          padding: 0.7vmax 0vmax;
          transition: 0.5s;
          margin-top: 1vmax;
          font-weight: 700;
}

.ForgotPassword .forgot-password button:hover {
          background-color: #48c1fecc; 
}
.otp-box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}
.otp-box input{
        width: 10%;
        border-radius: 4px;
        outline: none;
        border:1px solid #00b7eb;
}

@media (max-width:600px) {
          .ForgotPassword .forgot-password{
                    width: 95%;
          }
           .ForgotPassword .forgot-password .top i{
                    font-size:4vmax;
           } 
          .ForgotPassword .forgot-password .top h5{
                    font-size:3.4vmax;
          } 
           .ForgotPassword .forgot-password .f-btm .iptf input{
                    margin-top: 1vmax;
                    padding: 1.5vmax 1vmax;
           }
            .ForgotPassword .forgot-password button {
                    padding: 1.5vmax 1vmax;
          }
                
}


@media (min-width:600px) and (max-width:1250px) {
          .ForgotPassword .forgot-password{
                    width: 95%;
          }
           .ForgotPassword .forgot-password .top i{
                    font-size:4vmax;
           } 
          .ForgotPassword .forgot-password .top h5{
                    font-size:3.4vmax;
          } 
           .ForgotPassword .forgot-password .f-btm .iptf input{
                    margin-top: 1vmax;
                    padding: 1.5vmax 1vmax;
           }
            .ForgotPassword .forgot-password button {
                    padding: 1.5vmax 1vmax;
          }
}
