.navbarlogo img {
    height: 85px;
}

.mainNavbar {
    margin: -19px 0px;
}

.numNavbar span {
    color: #00b7eb;
    font-weight: bold;
    font-size: 20px;
}

.mobileLoginSignup {
    display: none;
}

.mobileLoginNavbar,
.mobileSignupNavbar {
    margin-top: 6px;
}

.mobileLoginNavbar span {
    background-color: #00b7eb;
    padding: 7px 40px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.mobileSignupNavbar span {
    background-color: #00b7eb;
    padding: 7px 35px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.userDropdown svg {
    font-size: 40px;
    color: #00b7eb;
}

.navmenuss a {
    font-weight: 500;
    color: rgba(29, 27, 27, 0.849);
    padding: 10px 25px !important;
}

.dropdown-menu svg {
    color: black;
}

.navmenuss .homnavbbookingicon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.navmenuss .homnavbbookingicon.active {
    background-color: #e8eef8;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

.homnavbbookingicon .textNav {
    margin-top: 5px;
}


/* ----------------------------------------------- */

/* .mobilehedrbookings .row .active-link {
    border-bottom: 3px solid brown;
}

.mobilehedrbookings .row .col-4 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 2px rgba(239, 234, 234, 0.491);
    text-align: center; 
}

.mobilehedrbookings .row .col-4 .icon {
    display: block;
}

.mobilehedrbookings .row .col-4 a {
    color: inherit; 
    text-decoration: none; 
} */





/* ----------------------------------------------- */



.mobilehedrbookings {
    background: #00000023;
    /* padding: 8px 0px; */
    border-top: 2px solid #007bff;

    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the header stays on top of other elements */
    background-color: #fff; /* Background color for the header */
    box-shadow: 0 4px 2px -2px gray; /* Adds a subtle shadow to the header */
}

.mobilehedrbookings img {
    height: 30px;
}

.mobilehedrbookings .row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mobilehedrbookings .row .col-4.active-link {
    /* background-color: #f0f0f0; */
    border-bottom: 3px solid #fd4f6e;
}

.mobilehedrbookings .row .col-4.active-link a {
    color: #fd4f6e !important;
}

.mobilehedrbookings .row .col-4 {
    background-color: white;
    border-radius: 3px;
    padding: 1px 0px;
    box-shadow: 2px 2px 5px 2px rgba(239, 234, 234, 0.491);
}

.mobilehedrbookings .row .col-4 a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: gray;
}

.mobilehedrbookings .row .col-4 svg {
    font-size: 20px;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.863);
}

.mobilehedrbookings {
    display: none;
}

/* / responsive css / */
@media screen and (max-width: 1200px) {
    .numNavbar span {
        font-size: 15px !important;
    }

    .homnavbbookingicon .textNav {
        font-size: 14px !important;
    }

    .userDropdown svg {
        font-size: 25px !important;
    }

}

@media screen and (max-width: 992px) {
    .findFlightss button {
        margin-bottom: 20px;
        padding: 3px 14px;
        border-radius: 5px;
        font-size: 13px;
    }

    .mobilehedrbookings {
        display: block;
    }

    .navmenuss .homnavbbookingicon {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .navmenuss .homnavbbookingicon svg {
        margin-right: 10px;
    }

    .navcornerr a {
        margin-left: 25px;
    }

    #basic-navbar-nav {
        padding-bottom: 20px;
    }

    .userDropdown {
        display: none;
    }

    .mobileLoginSignup {
        display: unset;
    }
}


@media screen and (max-width: 576px) {
    .navbarlogo img {
        /* height: 60px !important; */
        width: 180px !important;
    }

    .mobilehedrbookings .row .col-4 svg {
        font-size: 15px;
        margin-right: 10px;
    }

}