
.guest-details-container {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  text-align: left;
}

.right-side {
  text-align: right;
}
.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #343a40;
  text-align: center;
}
.guest-details-container h3{
  color: #007bff;
}
.guest-details-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #00b7eb;
}

.info-section {
  margin-bottom: 10px;
}

.info-section span {
  display: block;
  margin-bottom: 5px;
}

.no-room-details {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #00b7eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.submit-btn:hover {
  background-color: #00b7eb;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-content {
  width: 100%;
  max-width: 500px; 
}

.room-details-container {
  margin-top: 20px;
  display: inline-table;
  flex-direction:row;
  background-color: #f8f9fa;
}

.room-details {
  margin-bottom: 1rem; 
  padding: 1rem;
  /* border: 1px solid #ddd;  */
  /* border-radius: 5px; */
}
