.payload{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          z-index: 1111;
          height: 720px;
          flex-direction: column;
          /* background:#15a1fe;position: absolute; */
          z-index: 11111;
          margin-top: 3vmax;
}
.payload h5{

       color:#0da50d ;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 1.3vmax;
       margin-top: 2vmax;
}
.payload img{
        width: 8%;
        margin-top: 2vmax;
        border-radius: 50%;
        border: none;
        /* background:#15a1fe; */

}

@media (max-width: 600px) {
          .payload img{
                    width: 20%;
            }
            .payload h5{
                
        font-size: 20px;
        width: 100%;
        text-align: center;
            }
                 
}
@media (min-width: 600px) and (max-width:1150px) {
    .payload img{
        width: 20%;
}
.payload h5{
    
font-size: 20px;
width: 100%;
text-align: center;
}
                 
}
