.footer-sec{
    background: linear-gradient(to bottom, skyblue 0%, #ffffff 100%);
    /* background-color: #00b7eb; */
    /* background-color:skyblue; */
    padding-top: 30px;
    padding-bottom: 1px;
}

.footerabout img{
    height: 95px;
    margin-left: -15px;    
}

.footer-icons{
    display: flex;
}
.footer-icons a{
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid #001822;
    padding: 5px 10px;
    color: #003d8b;
}

.footer-links{
    margin-top: 30px !important;
}
.footer-links h5{
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-links a{
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.footer-links a:hover{
    color: #00b7eb;
}
.footrcopyright p{
    text-align: center;
    margin-top: 30px;
    /* color: rgba(0, 0, 0, 0.712); */
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0px;
    border-top: 1px solid #00b8eb1a;
    background-color: #00b7eb21;
    /* color: white; */
}
.footrcopyright a{
    color: #00b7eb;
    text-decoration: none;
}