.footer-sec{
    /* background: linear-gradient(to bottom, #b2f3de 0%, #ffffff 100%); */
    /* background-color: #00b7eb; */
    background-color:gainsboro;
    padding: 25px 10px;
}

.footerabout img{
    height: 95px;
    margin-left: -15px;    
}

.footer-icons{
    display: flex;
}
.footer-icons a{
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid #001822;
    padding: 5px 10px;
    color: #003d8b;
}

.footer-links{
    margin-top: 30px !important;
}
.footer-links h5{
    font-weight: bold;
    margin-bottom: 15px;
}
.footer-links a{
    text-decoration: none;
    color: black;
}
.footer-links a:hover{
    color: #00b7eb;
}
